Automacao/Minha Casa/HomeAssistant/NodeRed Backup/NODE RED/Backup 10-08-2023/flows.json
[
    {
        "id": "ace8c6fb.1d7608",
        "type": "tab",
        "label": "Energia",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f834635.976ffa",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Salva o valor da variavel \"dias_restantes\"",
        "func": "msg.payload = msg.payload;\nlet valor = flow.get ('dias_restantes') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\nflow.set('dias_restantes',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b1ac5636.60f858",
        "type": "mqtt in",
        "z": "ace8c6fb.1d7608",
        "name": "Monitora dias que faltam",
        "topic": "dev/test/minhacasa/consumo/dias_restantes",
        "qos": "1",
        "datatype": "auto",
        "broker": "edda8da7.90936",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "3f834635.976ffa"
            ]
        ]
    },
    {
        "id": "82005cab.1930b",
        "type": "mqtt in",
        "z": "ace8c6fb.1d7608",
        "name": "Tendencia Conta",
        "topic": "dev/test/minhacasa/consumo/tendencia_conta",
        "qos": "1",
        "datatype": "auto",
        "broker": "edda8da7.90936",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "681faae3.99cf44"
            ]
        ]
    },
    {
        "id": "681faae3.99cf44",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Salva o valor da variavel \"tendencia_conta\"",
        "func": "msg.payload = msg.payload;\nlet valor = flow.get ('tendencia_conta') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\nflow.set('tendencia_conta',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e312ba48.151368",
        "type": "mqtt in",
        "z": "ace8c6fb.1d7608",
        "name": "Tendencia Conta",
        "topic": "dev/test/minhacasa/consumo/previsao_conta",
        "qos": "1",
        "datatype": "auto",
        "broker": "edda8da7.90936",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "4c20088c.d95f28"
            ]
        ]
    },
    {
        "id": "4c20088c.d95f28",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Salva o valor da variavel \"gasto_ate_agora\"",
        "func": "let valor_conta = msg.payload.split(' ');\nmsg.payload= valor_conta[1];\nflow.set('gasto_ate_agora',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "998c05d6.7721e8",
        "type": "inject",
        "z": "ace8c6fb.1d7608",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "db53e18f.d229f"
            ]
        ]
    },
    {
        "id": "db53e18f.d229f",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "",
        "func": "let d = new Date();\nlet conta = flow.get ('gasto_ate_agora') || 0;\n\nmsg.payload = {}\n\nif(d.getDate()>15)\n{\n let dias = (d.getDate()-15);\nlet faltam = (31 - dias);\nfaltam = \"Faltam \" + faltam + \"dias\";\nlet valor = (31*conta)/dias;\nmsg.payload = \"R$ \" + valor.toFixed(2)+','+faltam;\n}\nelse\n{\nlet dias = (d.getDate()+16);\nlet faltam = (31 - dias);\nfaltam = \"Faltam \" + faltam + \" dias\";\nlet valor = (31*conta)/dias;\nmsg.payload = \"R$ \" + valor.toFixed(2)+','+faltam;\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "882b905e.f24f6",
                "59d07f2b.2e8da"
            ]
        ]
    },
    {
        "id": "882b905e.f24f6",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Valor da tendencia da conta",
        "func": "let valor = msg.payload.split(',');\nmsg.payload= valor[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 280,
        "wires": [
            [
                "93db6699.fc9a38"
            ]
        ]
    },
    {
        "id": "59d07f2b.2e8da",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Valor dias restantes",
        "func": "let valor = msg.payload.split(',');\nmsg.payload= valor[1];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "fb852673.d68118"
            ]
        ]
    },
    {
        "id": "93db6699.fc9a38",
        "type": "mqtt out",
        "z": "ace8c6fb.1d7608",
        "name": "Publica Tendencia da conta",
        "topic": "dev/test/minhacasa/consumo/tendencia_conta",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edda8da7.90936",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "fb852673.d68118",
        "type": "mqtt out",
        "z": "ace8c6fb.1d7608",
        "name": "Publica dias que faltam",
        "topic": "dev/test/minhacasa/consumo/dias_restantes",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edda8da7.90936",
        "x": 750,
        "y": 320,
        "wires": []
    },
    {
        "id": "b6b4b29d.61c46",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Salva o valor da variavel \"ultima_leitura_cemig\"",
        "func": "let valor_conta = msg.payload;\nmsg.payload = valor_conta;\nflow.set('ultima_leitura_cemig',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "2e4f413b.2c1dfe"
            ]
        ]
    },
    {
        "id": "3cb9d655.242c4a",
        "type": "mqtt in",
        "z": "ace8c6fb.1d7608",
        "name": "Ultima Leitura",
        "topic": "dev/test/minhacasa/energia/ultima_leitura/1",
        "qos": "1",
        "datatype": "auto",
        "broker": "edda8da7.90936",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "b6b4b29d.61c46"
            ]
        ]
    },
    {
        "id": "2e4f413b.2c1dfe",
        "type": "mqtt out",
        "z": "ace8c6fb.1d7608",
        "name": "Publica Ultima leitura cemig",
        "topic": "dev/test/minhacasa/energia/ultima_leitura/2",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edda8da7.90936",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "876f82c6.a4ae1",
        "type": "inject",
        "z": "ace8c6fb.1d7608",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "b09f4a2a.2e03f8"
            ]
        ]
    },
    {
        "id": "b09f4a2a.2e03f8",
        "type": "function",
        "z": "ace8c6fb.1d7608",
        "name": "Atualiza \"ultima_leitura_cemig\"",
        "func": "msg.payload = \"2039.08\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 460,
        "wires": [
            [
                "c8a3abfe.de4dd8"
            ]
        ]
    },
    {
        "id": "c8a3abfe.de4dd8",
        "type": "mqtt out",
        "z": "ace8c6fb.1d7608",
        "name": "Publica Ultima leitura cemig",
        "topic": "dev/test/minhacasa/energia/ultima_leitura/1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edda8da7.90936",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "edda8da7.90936",
        "type": "mqtt-broker",
        "name": "Broker_186",
        "broker": "192.168.3.186",
        "port": "1883",
        "clientid": "central_ha_Disjuntores",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]