Automacao/Raspberry/Codigos e Dicas/ALEXA/Alexa Falar/Node para alexa falar.txt
[{"id":"4c8f9dda.d99414","type":"tab","label":"Alexa_Falar","disabled":false,"info":""},{"id":"79e5de00.7be204","type":"api-call-service","z":"4c8f9dda.d99414","name":"","server":"ca90e0e9.7fca6","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"title\":\"TESTE ALEXA\",\"message\":\"<voice name=''>{{payload}}</voice>\",\"target\":[\"media_player.echo_dot_de_bruno\"]}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":570,"y":80,"wires":[[]]},{"id":"51913dc6.7721a4","type":"mqtt in","z":"4c8f9dda.d99414","name":"","topic":"dev/test/minhacasa/fala/alexa","qos":"1","datatype":"auto","broker":"edda8da7.90936","nl":false,"rap":true,"rh":0,"x":120,"y":80,"wires":[["3950ac23.0f5fb4","ee50130d.351cf"]]},{"id":"3950ac23.0f5fb4","type":"switch","z":"4c8f9dda.d99414","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"vazio","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":80,"wires":[["79e5de00.7be204","ccf68889.8a0f18"]]},{"id":"ee50130d.351cf","type":"debug","z":"4c8f9dda.d99414","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":20,"wires":[]},{"id":"660d5d62.b50684","type":"mqtt out","z":"4c8f9dda.d99414","name":"","topic":"dev/test/minhacasa/fala/alexa","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":930,"y":80,"wires":[]},{"id":"ccf68889.8a0f18","type":"delay","z":"4c8f9dda.d99414","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":140,"wires":[["557933ff.afed7c"]]},{"id":"557933ff.afed7c","type":"change","z":"4c8f9dda.d99414","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"vazio","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["660d5d62.b50684"]]},{"id":"ca90e0e9.7fca6","type":"server","name":"Casa","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"edda8da7.90936","type":"mqtt-broker","name":"Broker_186","broker":"192.168.3.186","port":"1883","clientid":"central_ha_Disjuntores","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]