Automacao/Minha Casa/HomeAssistant/11-01-2024/tts/node-red/flows.json
[{"id":"f424b3fea5941eb4","type":"tab","label":"Alexa Falar","disabled":false,"info":"","env":[]},{"id":"54339570ae297094","type":"tab","label":"Central_HA","disabled":false,"info":"","env":[]},{"id":"20b20630aa699b95","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"9f090531.2807d8","type":"subflow","name":"Speak","info":"","in":[],"out":[]},{"id":"ea743864.c4de88","type":"server","name":"Home Assistant_casa","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"4a65f9ef.cc94f8","type":"telegram bot","botname":"@MinhaAutomacao_bot","usernames":"","chatids":"-1001759895699","baseapiurl":"","updatemode":"polling","pollinterval":"1000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"65db6daa.443ed4","type":"mqtt-broker","name":"Broker_186","broker":"192.168.3.186","port":"1883","clientid":"node_red_central","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"1","willRetain":"true","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fd3f9608.9a3298","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2318deb0.5dbf52","type":"ui_group","name":"Teste","tab":"fd3f9608.9a3298","order":1,"disp":true,"width":"6","collapse":false},{"id":"63f53fc0.b83ba","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7e1e0c2c.846ab4","type":"telegrambot-config","botname":"nomedoseubot","usernames":"","chatIds":"seuChatId","pollInterval":"300"},{"id":"61de5090.0f5d9","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f136a522.adc2a8","type":"ui_tab","name":"Home","icon":"home","order":1},{"id":"b6f7fbf2.742828","type":"ui_tab","name":"Music Controls","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"833d5dde.4207b","type":"soundfile-directory","directory":"http:\\\\192.168.2.200\\config\\www\\audio\\interfone"},{"id":"67813a04.5b8c44","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"bfcfdd2e.35e2","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"a3ac6c4a.c3ceb","type":"server","name":"Casa","version":4,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"e16e06ca.f38438","type":"ui_group","name":"Frame Statistics","tab":"7af2d9c8.0a9148","order":2,"disp":true,"width":"6"},{"id":"675036dd.603328","type":"ui_group","name":"Frame Grab","tab":"7af2d9c8.0a9148","order":1,"disp":true,"width":"8","collapse":false},{"id":"7af2d9c8.0a9148","type":"ui_tab","name":"RTSP","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"a9be660a.5f4258","type":"ui_group","name":"Video Capture","tab":"7af2d9c8.0a9148","order":3,"disp":true,"width":"6"},{"id":"60de001f.6c605","type":"ui_group","name":"Video Statistics","tab":"7af2d9c8.0a9148","order":4,"disp":true,"width":"6"},{"id":"acb472cb.fc2c7","type":"ui_group","name":"Report","tab":"7af2d9c8.0a9148","order":5,"disp":true,"width":"12"},{"id":"1b74e104.e2c6ef","type":"ui_group","name":"Video Capture","tab":"7af2d9c8.0a9148","order":3,"disp":true,"width":"6"},{"id":"b87d935e.bdd64","type":"ui_group","name":"Video Statistics","tab":"7af2d9c8.0a9148","order":4,"disp":true,"width":"6"},{"id":"8e18585a.94def8","type":"ui_group","name":"Report","tab":"7af2d9c8.0a9148","order":5,"disp":true,"width":"12"},{"id":"edda8da7.90936","type":"mqtt-broker","name":"Broker_186","broker":"192.168.3.186","port":"1883","clientid":"central_ha_principal","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f380edb1c21c33fc","type":"telegrambot-config","botname":"@casabrunogon_bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"8d2a9e61132613a8","type":"alexa-remote-account","name":"brunogon","authMethod":"proxy","proxyOwnIp":"192.168.3.200","proxyPort":"3456","cookieFile":"/config/senha.txt","refreshInterval":"1","alexaServiceHost":"pitangui.amazon.com","amazonPage":"amazon.com.br","acceptLanguage":"pt-BR","onKeywordInLanguage":"on","userAgent":"","useWsMqtt":"on","autoInit":"on"},{"id":"9c585ca723d85bbc","type":"mqtt in","z":"f424b3fea5941eb4","name":"","topic":"dev/test/minhacasa/fala/alexa","qos":"2","datatype":"auto-detect","broker":"65db6daa.443ed4","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":60,"wires":[["42da4ed688d33c66"]]},{"id":"42da4ed688d33c66","type":"api-call-service","z":"f424b3fea5941eb4","name":"","server":"ea743864.c4de88","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot_de_bruno","areaId":[],"deviceId":[],"entityId":[],"data":"{\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"title\":\"TESTE ALEXA\",\"message\":\"<voice name=''>{{payload}}</voice>\",\"target\":[\"media_player.echo_dot_de_bruno\"]}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":60,"wires":[[]]},{"id":"a005313d460d2248","type":"server-state-changed","z":"54339570ae297094","name":"","server":"ea743864.c4de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.cpu_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":40,"wires":[["80dfeae2fa7230cb"]]},{"id":"9ca9ee2df44e11b7","type":"mqtt out","z":"54339570ae297094","name":"Publica Broker","topic":"dev/test/minhacasa/ha/cooler_ha/temp","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"65db6daa.443ed4","x":640,"y":280,"wires":[]},{"id":"4ba95bb1.5430c4","type":"change","z":"54339570ae297094","name":"Desligar Cooler","rules":[{"t":"set","p":"payload","pt":"msg","to":"desligar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":360,"wires":[["9ca9ee2df44e11b7"]]},{"id":"80dfeae2fa7230cb","type":"function","z":"54339570ae297094","name":"function 1","func":"var payload = msg.payload;\nvar valor = Number(msg.payload);\n\nmsg1 = { payload: msg.payload };\nmsg2 = { payload: valor.toFixed(2) };\nreturn [msg1, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":40,"wires":[["f3cc31183e02fd54"],["f14eb92011dba7ce"]]},{"id":"f3cc31183e02fd54","type":"function","z":"54339570ae297094","name":"function 2","func":"var payload = msg.payload;\nvar valor = Number(msg.payload);\n\nif (valor >= 53.0 )\n{\n    var msg = { payload: \"ligar\" };\n    return msg;\n}\nelse if ( valor <= 38.0 )\n{\n    var msg = { payload: \"desligar\" };\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":40,"wires":[["643af9e7.f1b928"]]},{"id":"f14eb92011dba7ce","type":"debug","z":"54339570ae297094","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":120,"wires":[]},{"id":"c9acd78619ac3cdb","type":"change","z":"54339570ae297094","name":"Ligar Cooler","rules":[{"t":"set","p":"payload","pt":"msg","to":"ligar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["9ca9ee2df44e11b7"]]},{"id":"dc6d270a.e66f68","type":"inject","z":"54339570ae297094","name":"Ligar Manualmente","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["c9acd78619ac3cdb"]]},{"id":"ca08ae44abae1f43","type":"inject","z":"54339570ae297094","name":"Desligar Manualmente","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":360,"wires":[["4ba95bb1.5430c4"]]},{"id":"643af9e7.f1b928","type":"switch","z":"54339570ae297094","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ligar","vt":"str"},{"t":"eq","v":"desligar","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":300,"wires":[["c9acd78619ac3cdb"],["4ba95bb1.5430c4"]]},{"id":"31ae8cb92a2271e0","type":"alexa-remote-init","z":"20b20630aa699b95","name":"Conexao_Alexa","account":"8d2a9e61132613a8","option":"initialise","x":120,"y":40,"wires":[[]]},{"id":"a6adc7a171fc0df8","type":"inject","z":"20b20630aa699b95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["37a70c5fd2e7afcf"]]},{"id":"37a70c5fd2e7afcf","type":"alexa-remote-routine","z":"20b20630aa699b95","name":"","account":"8d2a9e61132613a8","routineNode":{"type":"smarthome","payload":{"entity":"5c0a7b08-6ba3-48da-b093-6eb721d4be35","action":"turnOn"}},"x":300,"y":140,"wires":[[]]},{"id":"68d088270d75fc82","type":"inject","z":"20b20630aa699b95","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["d9adbb0bac37fc4a"]]},{"id":"d9adbb0bac37fc4a","type":"alexa-remote-smarthome","z":"20b20630aa699b95","name":"","account":"8d2a9e61132613a8","config":{"option":"action","value":[{"entity":"427a4a1b-cd7a-45cb-a0ce-513ea5e31c29","action":"turnOff"}]},"outputs":1,"x":320,"y":220,"wires":[[]]}]