Automacao/Minha Casa/3 Andar/Minha Casa Backup Docker/config/tts/node-red/flows.json.json
[{"id":"1427de12.1594d2","type":"tab","label":"Sala","disabled":false,"info":""},{"id":"b756a76b.20a2d8","type":"tab","label":"Quarto 1","disabled":false,"info":""},{"id":"befa94.2cb2e57","type":"tab","label":"Quarto 2","disabled":false,"info":""},{"id":"203da55d.cfa81a","type":"tab","label":"Cozinha","disabled":false,"info":""},{"id":"36e49287.19d7be","type":"tab","label":"Quarto de Casal","disabled":false,"info":""},{"id":"dceafd8e.065c7","type":"tab","label":"EspacoGourmet","disabled":false,"info":""},{"id":"71bf4376.cf4b4c","type":"tab","label":"Laboratorio","disabled":false,"info":""},{"id":"75779fa0.75c91","type":"tab","label":"Acesso","disabled":false,"info":""},{"id":"9a41404c.c3e9a","type":"tab","label":"Externo","disabled":false,"info":""},{"id":"36bf765c.cd7cca","type":"tab","label":"Gerais","disabled":false,"info":""},{"id":"ea743864.c4de88","type":"server","name":"Home Assistant","addon":true},{"id":"4a65f9ef.cc94f8","type":"telegram bot","botname":"casabrunogon_bot","usernames":"","chatids":"-463541102","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"65db6daa.443ed4","type":"mqtt-broker","name":"Broker","broker":"192.168.2.200","port":"1883","clientid":"node_red","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"1","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"1","willRetain":"true","willPayload":""},{"id":"fd3f9608.9a3298","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"2318deb0.5dbf52","type":"ui_group","name":"Teste","tab":"fd3f9608.9a3298","order":1,"disp":true,"width":"6","collapse":false},{"id":"798ca6df.bcd448","type":"inject","z":"1427de12.1594d2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["836e7c70.f42f3"]]},{"id":"ba669df9.f4c54","type":"telegram sender","z":"1427de12.1594d2","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":460,"y":60,"wires":[[]]},{"id":"151131bf.1e1b6e","type":"function","z":"1427de12.1594d2","name":"","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'Testando'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":40,"wires":[["ba669df9.f4c54"]]},{"id":"a1576da2.8fb34","type":"switch","z":"71bf4376.cf4b4c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":60,"wires":[["35c48501.8655fa"],["3c55022d.40efbe"]]},{"id":"14cdbf30.778f51","type":"telegram sender","z":"71bf4376.cf4b4c","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1060,"y":40,"wires":[[]]},{"id":"35c48501.8655fa","type":"function","z":"71bf4376.cf4b4c","name":"Avisa Lampada Ligada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação do Laboratorio de Eletrônica foi ligada!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":40,"wires":[["14cdbf30.778f51"]]},{"id":"1faf307e.2c868","type":"telegram sender","z":"71bf4376.cf4b4c","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1060,"y":120,"wires":[[]]},{"id":"3c55022d.40efbe","type":"function","z":"71bf4376.cf4b4c","name":"Avisa Lampada Desligada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação do Laboratorio de Eletrônica foi desligada!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":120,"wires":[["1faf307e.2c868"]]},{"id":"f4aed13a.df9bf","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Jardim Horizontal","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_jardim_horizontal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":1000,"wires":[["f740275a.6ed488"]]},{"id":"f740275a.6ed488","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":1000,"wires":[["3fcf3cb8.0183f4"],[]]},{"id":"9e7cf972.50d158","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":790,"y":960,"wires":[["5358a462.ad7d7c","a53102e.10e06"],[]]},{"id":"836e7c70.f42f3","type":"api-call-service","z":"1427de12.1594d2","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lampada_do_laboratorio","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":140,"wires":[[]]},{"id":"5358a462.ad7d7c","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_jardim_horizontal","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1110,"y":920,"wires":[[]]},{"id":"87d5e2fd.44059","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Arandelas Carro","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_arandelas_carros","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":840,"wires":[["e2a3dcbc.a28fb"]]},{"id":"e2a3dcbc.a28fb","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":840,"wires":[["8aa253a0.000a8"],[]]},{"id":"8a1573df.3ce8c","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":840,"wires":[["c0b0d550.4bebb8","51b20515.2df79c"],[]]},{"id":"c0b0d550.4bebb8","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_arandelas_carros","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":840,"wires":[[]]},{"id":"49172def.b98124","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Ambiente Churrasco","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_ambiente_a_churrasco","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":380,"wires":[["ae2864a0.2df438"]]},{"id":"ae2864a0.2df438","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":380,"wires":[["15a2465b.9fb79a"],[]]},{"id":"68d54520.6c2a6c","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":360,"wires":[["b0b5e2ec.e08a3","2ae2c2f3.04788e"],[]]},{"id":"b0b5e2ec.e08a3","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_ambiente_a_churrasco","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":360,"wires":[[]]},{"id":"7fd144.73366ebc","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Area Churrasco","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_area_churrasco","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":120,"y":240,"wires":[["eb87a4d.071f858"]]},{"id":"eb87a4d.071f858","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":240,"wires":[["be3c4404.14d758"],[]]},{"id":"ec790fc5.90ce4","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":240,"wires":[["fc089e3d.972d3","456eb702.6dd028"],[]]},{"id":"fc089e3d.972d3","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_area_churrasco","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":220,"wires":[[]]},{"id":"c3e17211.ff51a","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Arandelas Muro Churrasco","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_arandelas_m_churrasco","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":680,"wires":[["3419490a.93be86"]]},{"id":"3419490a.93be86","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":680,"wires":[["1fb838b5.fc9117"],[]]},{"id":"79121e1.cb30ee","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":680,"wires":[["538054c0.bccb7c","d727548f.e53328"],[]]},{"id":"538054c0.bccb7c","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_arandelas_m_churrasco","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":680,"wires":[[]]},{"id":"208a4f9e.8bffa","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Pendente Churrasco","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_pentende_a_churrasco","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":540,"wires":[["5eddb16e.99f0f"]]},{"id":"5eddb16e.99f0f","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":540,"wires":[["c1582bc9.211a78"],[]]},{"id":"da562748.2976d8","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":540,"wires":[["e0c684c8.b9daa8","2a1fef47.ea1be"],[]]},{"id":"e0c684c8.b9daa8","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_pentende_a_churrasco","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":540,"wires":[[]]},{"id":"9f42bec1.84f6f","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Garagem 1","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_garagem_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":1140,"wires":[["bd950632.c15c98"]]},{"id":"bd950632.c15c98","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1140,"wires":[["1ad62d10.d5d673"],[]]},{"id":"632a4084.98a82","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":1140,"wires":[["43e8db5.ff09f24","214f497d.facc66"],[]]},{"id":"43e8db5.ff09f24","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_garagem_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":1140,"wires":[[]]},{"id":"a0ac4ebf.b0d22","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":280,"wires":[["fc089e3d.972d3","ff25fac0.c11998"],[]]},{"id":"e4ec2eb0.b368b","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":400,"wires":[["b0b5e2ec.e08a3","5b4dac0e.159ae4"],[]]},{"id":"2830f130.2c4bfe","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":580,"wires":[["e0c684c8.b9daa8","5890d68b.246798"],[]]},{"id":"4e2b6e7b.8c061","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":720,"wires":[["538054c0.bccb7c","18f290f2.67bfff"],[]]},{"id":"e5908653.c4e738","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":880,"wires":[["c0b0d550.4bebb8","9406d977.436f38"],[]]},{"id":"b8ac25be.eb9f98","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":810,"y":1000,"wires":[["5358a462.ad7d7c","30521a8e.b55ce6"],[]]},{"id":"ddcd7ac2.d7b588","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":1180,"wires":[["43e8db5.ff09f24","722513bd.ba19cc"],[]]},{"id":"47b6473e.25ea08","type":"server-state-changed","z":"36bf765c.cd7cca","name":"Verifica Automacao Dormir","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.dormir","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":140,"y":40,"wires":[["659d035e.aa700c"]]},{"id":"659d035e.aa700c","type":"switch","z":"36bf765c.cd7cca","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":40,"wires":[["2a58c84b.bb6af8","79f060fc.ed7e3","21dd9499.e9fddc","76f2f8fa.3cce28","ac259e41.73633","bfd06bd8.2b9558","7649ffcd.2054f","b0dab3d6.41383","51b7d9dc.d80298","898d81a1.a669f","91b438e2.482d98","b17af76e.c74408","140f1991.4c9426"],[]]},{"id":"79f060fc.ed7e3","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas da Sala","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_da_sala, light.iluminacao_do_lustre, light.painel_tv_da_sala,  light.iluminacao_da_sacada,  light.arvore_de_natal,light.tela_automacao","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":650,"y":40,"wires":[[]]},{"id":"2a58c84b.bb6af8","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga ela mesmo e fica pronta para novo acionamento","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.dormir","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":720,"wires":[[]]},{"id":"4fdcb654.0c5de8","type":"telegram sender","z":"36bf765c.cd7cca","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":900,"y":660,"wires":[[]]},{"id":"b17af76e.c74408","type":"function","z":"36bf765c.cd7cca","name":"Avisa Lampada Desligada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'Automação para desligamento geral foi acionada!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":660,"wires":[["4fdcb654.0c5de8"]]},{"id":"21dd9499.e9fddc","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Quarto 1","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_do_quarto_1, light.painel_tv_do_quarto_1,light.cortineiro_do_quarto_1","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":100,"wires":[[]]},{"id":"76f2f8fa.3cce28","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Quarto 2","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_do_quarto_2, light.painel_tv_do_quarto_2,light.cortineiro_do_quarto_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":160,"wires":[[]]},{"id":"ac259e41.73633","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Banheiro Social","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.persiana_da_cozinha","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":220,"wires":[[]]},{"id":"bfd06bd8.2b9558","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas da Cozinha","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_da_cozinha, light.pia_rgb_cozinh,  light.geladeira_rgb_cozinha, light.bancada_da_cozinha, light.ilha_rgb_cozinha, light.painel_tv_da_cozinha, light.corredor_rgb_cozinha","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":670,"y":280,"wires":[[]]},{"id":"7649ffcd.2054f","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Espaco Gourmet","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_do_teto,light.pia_rgb_espacogourmet,light.iluminacao_da_bancada,light.bancada_rgb,light.persianas_rgb_espacogourmet,light.iluminacao_da_churrasqueira","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":400,"wires":[[]]},{"id":"b0dab3d6.41383","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas Area de Serviço","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_da_area_servico","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":460,"wires":[[]]},{"id":"51b7d9dc.d80298","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Laboratorio","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.lampada_do_laboratorio,light.persiana_do_laboratorio,light.ambiente_do_laboratorio","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":680,"y":520,"wires":[[]]},{"id":"898d81a1.a669f","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Quarto de Casal","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_do_quarto_c,light.painel_tv_do_quarto_c,light.cortineiro_do_quarto_c","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":690,"y":340,"wires":[[]]},{"id":"91b438e2.482d98","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Lâmpadas do Acesso","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.andar_1_e_2,light.andar_3_e_4,light.amb_andar_3_e_4","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":660,"y":580,"wires":[[]]},{"id":"e399e948.1d79c8","type":"mqtt in","z":"71bf4376.cf4b4c","name":"MQTT_SUB","topic":"dev/test/minhacasa/testando","qos":"1","datatype":"auto","broker":"65db6daa.443ed4","x":170,"y":600,"wires":[[]]},{"id":"c07756dd.aff528","type":"server-state-changed","z":"71bf4376.cf4b4c","name":"Painel TV","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.pia_rgb_espacogourmet","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":520,"y":500,"wires":[["412bfdb0.cba244"]]},{"id":"25069eeb.4bf042","type":"function","z":"71bf4376.cf4b4c","name":"","func":"var payload=msg.payload; //get payload\n\nif (msg.payload === \"on\")\n{\nmsg.payload=\"1\"; //convert to uppercase\n}\nelse\n{\n  msg.payload=\"0\"; //convert to uppercase  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":500,"wires":[[]]},{"id":"be3c4404.14d758","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":240,"wires":[["a0ac4ebf.b0d22","ec790fc5.90ce4"],[]]},{"id":"15a2465b.9fb79a","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":380,"wires":[["68d54520.6c2a6c","e4ec2eb0.b368b"],[]]},{"id":"c1582bc9.211a78","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":540,"wires":[["da562748.2976d8","2830f130.2c4bfe"],[]]},{"id":"1fb838b5.fc9117","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":680,"wires":[["79121e1.cb30ee","4e2b6e7b.8c061"],[]]},{"id":"8aa253a0.000a8","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":540,"y":840,"wires":[["8a1573df.3ce8c","e5908653.c4e738"],[]]},{"id":"3fcf3cb8.0183f4","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":520,"y":1000,"wires":[["9e7cf972.50d158","b8ac25be.eb9f98","5ab58c28.291bd4"],[]]},{"id":"1ad62d10.d5d673","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":1140,"wires":[["632a4084.98a82","ddcd7ac2.d7b588"],[]]},{"id":"5c470b34.15cc74","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Garagem 2","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_garagem_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":1280,"wires":[["740d8aee.d5e4f4"]]},{"id":"740d8aee.d5e4f4","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1280,"wires":[["5a638ff9.03d89"],[]]},{"id":"9aa6ad66.3dca5","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":1280,"wires":[["b5777ab8.02dd18","8669c8a3.b8e128"],[]]},{"id":"b5777ab8.02dd18","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_garagem_2","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":1280,"wires":[[]]},{"id":"133bb87a.c1b518","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":1320,"wires":[["b5777ab8.02dd18","7dcc00d0.b9cbe"],[]]},{"id":"5a638ff9.03d89","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":1280,"wires":[["9aa6ad66.3dca5","133bb87a.c1b518"],[]]},{"id":"75788a78.cbb9f4","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Garagem 3","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.ilum_garagem_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":100,"y":1400,"wires":[["3208803a.f51bd"]]},{"id":"3208803a.f51bd","type":"switch","z":"9a41404c.c3e9a","name":"ON/OFF","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1400,"wires":[["26eca477.21c43c"],[]]},{"id":"d5694f24.5d645","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Dia","lat":"","lon":"","startTime":"06:00","endTime":"17:00","startOffset":0,"endOffset":0,"x":810,"y":1400,"wires":[["56c20763.f0b5e8","ecbeb989.455948"],[]]},{"id":"56c20763.f0b5e8","type":"api-call-service","z":"9a41404c.c3e9a","name":"Apaga a Lâmpada","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ilum_garagem_3","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1070,"y":1400,"wires":[[]]},{"id":"4b0af591.f8ed2c","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Verifica Se Esta de Madrugada","lat":"","lon":"","startTime":"00:00","endTime":"05:59","startOffset":0,"endOffset":0,"x":830,"y":1440,"wires":[["56c20763.f0b5e8","1b36ae14.944552"],[]]},{"id":"26eca477.21c43c","type":"api-current-state","z":"9a41404c.c3e9a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.externo","state_type":"str","state_location":"payload=certo","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":500,"y":1400,"wires":[["d5694f24.5d645","4b0af591.f8ed2c"],[]]},{"id":"84e6119a.42119","type":"server-state-changed","z":"9a41404c.c3e9a","name":"Aviso Automacao Externo","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.externo","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":150,"y":60,"wires":[["82e18319.e4de9"]]},{"id":"82e18319.e4de9","type":"switch","z":"9a41404c.c3e9a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":60,"wires":[["53238e2b.34827"],["27a96255.874e7e"]]},{"id":"41decff4.5e19f","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":940,"y":40,"wires":[[]]},{"id":"53238e2b.34827","type":"function","z":"9a41404c.c3e9a","name":"Avisa Automacao foi ativada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A automação para desligar as lâmpadas externas caso forem acionadas dentro do periodo de 00:00 à 17:00 foi ativada!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":40,"wires":[["41decff4.5e19f"]]},{"id":"5edd9160.b8071","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":940,"y":100,"wires":[[]]},{"id":"27a96255.874e7e","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A automação para apagar as lâmpadas externas foi desativada!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":100,"wires":[["5edd9160.b8071"]]},{"id":"412bfdb0.cba244","type":"function","z":"71bf4376.cf4b4c","name":"","func":"var payload=msg.data.new_state.attributes.brightness\n\nif (msg.payload === \"undefined\")\n{\nmsg.payload=\"Desligado\"; //convert to uppercase\n}\nelse\n{\n  msg.payload=payload; //convert to uppercase  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[[]]},{"id":"e84ac675.203148","type":"inject","z":"71bf4376.cf4b4c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":580,"wires":[[]]},{"id":"b68a8c07.56da4","type":"api-call-service","z":"71bf4376.cf4b4c","name":"Altera o Brilho","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.painel_tv_da_cozinha","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":400,"y":80,"wires":[[]]},{"id":"18b3e399.6b2d1c","type":"server-state-changed","z":"71bf4376.cf4b4c","name":"HomeCinema","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.homecinema_3","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":150,"y":420,"wires":[[]]},{"id":"59377cd1.5e83b4","type":"telegram sender","z":"71bf4376.cf4b4c","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":780,"y":420,"wires":[[]]},{"id":"bc30023b.9f2b6","type":"function","z":"71bf4376.cf4b4c","name":"Extrai o nome da musica","func":"var payload=msg.data.new_state.attributes.media_title\nvar payload2=msg.data.new_state.attributes.media_artist\n  \nmsg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = \"Ouvindo agora : \" + payload + \" Artista : \" + payload2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":420,"wires":[["59377cd1.5e83b4"]]},{"id":"5ab58c28.291bd4","type":"time-range-switch","z":"9a41404c.c3e9a","name":"Apaga de acender atoa pela automacao de baixo","lat":"","lon":"","startTime":"17:59","endTime":"18:15","startOffset":0,"endOffset":0,"x":870,"y":1040,"wires":[["5358a462.ad7d7c"],[]]},{"id":"2fb96877.ad1798","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1760,"y":1000,"wires":[[]]},{"id":"30521a8e.b55ce6","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação do jardim foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1000,"wires":[["2fb96877.ad1798"]]},{"id":"a53102e.10e06","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação do jardim foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":960,"wires":[["2fb96877.ad1798"]]},{"id":"214f497d.facc66","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Garagem 1 foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1140,"wires":[["bbb059d1.f8a518"]]},{"id":"722513bd.ba19cc","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Garagem 1 foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1180,"wires":[["bbb059d1.f8a518"]]},{"id":"bbb059d1.f8a518","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1760,"y":1180,"wires":[[]]},{"id":"8669c8a3.b8e128","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Garagem 2 foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":1280,"wires":[["b9ef3484.db1338"]]},{"id":"7dcc00d0.b9cbe","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Garagem 2 foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1320,"wires":[["b9ef3484.db1338"]]},{"id":"b9ef3484.db1338","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1780,"y":1320,"wires":[[]]},{"id":"ecbeb989.455948","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Garagem 3 foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1400,"wires":[["359edd84.f7c4d2"]]},{"id":"1b36ae14.944552","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Garagem 3 foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1440,"wires":[["359edd84.f7c4d2"]]},{"id":"359edd84.f7c4d2","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1760,"y":1440,"wires":[[]]},{"id":"51b20515.2df79c","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação das Arandelas do muro dos carros foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":840,"wires":[["4c38ed13.cc6e24"]]},{"id":"9406d977.436f38","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação das Arandelas do muro dos carros foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":880,"wires":[["4c38ed13.cc6e24"]]},{"id":"4c38ed13.cc6e24","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1760,"y":880,"wires":[[]]},{"id":"d727548f.e53328","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação das Arandelas do muro churrasco foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":680,"wires":[["5644e133.cc406"]]},{"id":"18f290f2.67bfff","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação das Arandelas do muro churrasco foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":720,"wires":[["5644e133.cc406"]]},{"id":"5644e133.cc406","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1740,"y":700,"wires":[[]]},{"id":"2a1fef47.ea1be","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação do Pendente da área de churrasco foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":540,"wires":[["24809cac.fab7c4"]]},{"id":"5890d68b.246798","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação do Pendente da área de churrasco foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":580,"wires":[["24809cac.fab7c4"]]},{"id":"24809cac.fab7c4","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1740,"y":560,"wires":[[]]},{"id":"2ae2c2f3.04788e","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Luz ambiente da área de churrasco foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1393.6666259765625,"y":357.6666564941406,"wires":[["9980f5d0.c5c6d8"]]},{"id":"5b4dac0e.159ae4","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da Luz ambiente da área de churrasco foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1413.6666259765625,"y":397.6666564941406,"wires":[["9980f5d0.c5c6d8"]]},{"id":"9980f5d0.c5c6d8","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1673.6666259765625,"y":377.6666564941406,"wires":[[]]},{"id":"456eb702.6dd028","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada de Dia","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da area de churrasco foi desligada pois recebeu alguma interferência ou comando externo!'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":220,"wires":[["415499f6.fdbdb8"]]},{"id":"ff25fac0.c11998","type":"function","z":"9a41404c.c3e9a","name":"Avisa Lampada Desligada Madrugada","func":"msg.payload = {}\nmsg.payload.chatId = -463541102\nmsg.payload.type = 'message'\nmsg.payload.content = 'A Iluminação da área de churrasco foi desligada pois recebeu alguma interferência ou comando externo!   \\n Atenção: Caso realmente precise utilizar esta iluminação dentro do horario da madrugada, desativar a automação na aba AUTOMAÇÕES > Habilita desligar externo'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1420,"y":260,"wires":[["415499f6.fdbdb8"]]},{"id":"415499f6.fdbdb8","type":"telegram sender","z":"9a41404c.c3e9a","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1680,"y":240,"wires":[[]]},{"id":"ed8a6916.817258","type":"inject","z":"203da55d.cfa81a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":40,"wires":[["79d95e2.3f27ea"]]},{"id":"f95b67f0.51d608","type":"api-call-service","z":"203da55d.cfa81a","name":"Apaga a lampada Cozinha","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.painel_tv_da_cozinha","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":980,"y":40,"wires":[[]]},{"id":"79d95e2.3f27ea","type":"api-current-state","z":"203da55d.cfa81a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.automacao_noturna","state_type":"str","state_location":"","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":40,"wires":[["f95b67f0.51d608"],[]]},{"id":"d24d8368.f239d","type":"inject","z":"203da55d.cfa81a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["2b1eb037.d34a7"]]},{"id":"cb48436d.50a35","type":"api-call-service","z":"203da55d.cfa81a","name":"Apaga a lampada Banheiro","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.persiana_da_cozinha","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":980,"y":80,"wires":[[]]},{"id":"2b1eb037.d34a7","type":"api-current-state","z":"203da55d.cfa81a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.automacao_noturna","state_type":"str","state_location":"","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":600,"y":80,"wires":[["cb48436d.50a35"],[]]},{"id":"dfc59097.fd70d","type":"inject","z":"befa94.2cb2e57","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"abrir,concluido","payloadType":"str","x":170,"y":80,"wires":[["d30e4f65.d311c"]]},{"id":"c5f6720e.1ba91","type":"debug","z":"befa94.2cb2e57","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"d30e4f65.d311c","type":"function","z":"befa94.2cb2e57","name":"","func":"msg1 = {payload: \"abrir\"};\nmsg2 = {payload: \"concluido\"};\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":390,"y":100,"wires":[["c5f6720e.1ba91"],[]]},{"id":"aa08fc55.2c545","type":"debug","z":"71bf4376.cf4b4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":400,"wires":[]},{"id":"14f8fc0b.a21724","type":"inject","z":"36bf765c.cd7cca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"20 21 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":920,"wires":[["993e8046.77f6c"]]},{"id":"aecebbd8.e22c18","type":"server-state-changed","z":"36bf765c.cd7cca","name":"Temperatura CPU","server":"ea743864.c4de88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.cpu_temp","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":130,"y":860,"wires":[["993e8046.77f6c"]]},{"id":"993e8046.77f6c","type":"api-current-state","z":"36bf765c.cd7cca","name":"","server":"ea743864.c4de88","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.cpu_temp","state_type":"str","state_location":"","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":880,"wires":[["ee32c7b3.979d18"]]},{"id":"ee32c7b3.979d18","type":"function","z":"36bf765c.cd7cca","name":"","func":"var payload = msg.payload;\nvar valor = Number(msg.payload);\n\nmsg1 = {payload: msg.payload};\nmsg2 = {payload: valor.toFixed(2)};\nreturn [msg1,msg2];\n\n\n\n   \n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":660,"y":880,"wires":[[],["db20b364.47766"]]},{"id":"87030be0.97ec48","type":"telegram sender","z":"36bf765c.cd7cca","name":"BotMensagem","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":1100,"y":900,"wires":[[]]},{"id":"db20b364.47766","type":"switch","z":"36bf765c.cd7cca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"58","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":900,"wires":[["4f405427.7844ac"]]},{"id":"4f405427.7844ac","type":"function","z":"36bf765c.cd7cca","name":"","func":"mensagem = String('ATENÇÃO! \\n \\n O valor da temperatura da central está alta! \\n  \\n Temperatura: '+ msg.payload + '°C');\n\nmsg.payload = {}\n msg.payload.chatId = -463541102\n msg.payload.type = 'message'\n msg.payload.content = mensagem\n\nreturn msg; \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":900,"wires":[["87030be0.97ec48"]]},{"id":"2acbb356.d2581c","type":"comment","z":"36bf765c.cd7cca","name":"Publica o valor da temperatura da CPU caso esteja igual ou acima de 58°C **************************************************************************************************************************************************","info":"","x":660,"y":800,"wires":[]},{"id":"17d61b56.37e0b5","type":"inject","z":"203da55d.cfa81a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":340,"wires":[["3eafd1d9.34febe"]]},{"id":"c54074b9.2b8e18","type":"api-call-service","z":"203da55d.cfa81a","name":"Liga Rele RGB Cozinha","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.iluminacao_do_corredor","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":710,"y":320,"wires":[[]]},{"id":"3eafd1d9.34febe","type":"api-current-state","z":"203da55d.cfa81a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ambientes_rgb","state_type":"str","state_location":"","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":340,"wires":[["c54074b9.2b8e18","53b68395.7337fc"],[]]},{"id":"53b68395.7337fc","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":380,"wires":[["3843c559.53896a"]]},{"id":"c31217e0.81aa58","type":"mqtt out","z":"203da55d.cfa81a","name":"","topic":"","qos":"","retain":"","broker":"65db6daa.443ed4","x":1310,"y":360,"wires":[]},{"id":"3843c559.53896a","type":"function","z":"203da55d.cfa81a","name":"Ligar Ilha Cozinha","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/cz/ilha/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":380,"wires":[["c31217e0.81aa58","dff83899.0e68e8"]]},{"id":"dff83899.0e68e8","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":440,"wires":[["546e5410.bf654c"]]},{"id":"546e5410.bf654c","type":"function","z":"203da55d.cfa81a","name":"Ligar Pia RGB Cozinha","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/cz/pia/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":440,"wires":[["c31217e0.81aa58","9a6b8e30.c0499"]]},{"id":"9a6b8e30.c0499","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":500,"wires":[["c08e38b2.41d538"]]},{"id":"c08e38b2.41d538","type":"function","z":"203da55d.cfa81a","name":"Ligar Geladeira RGB Cozinha","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/cz/geladeira/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":500,"wires":[["c31217e0.81aa58","b8ba5ae5.cdb0c8"]]},{"id":"b8ba5ae5.cdb0c8","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":560,"wires":[["5c9202cc.525d4c"]]},{"id":"5c9202cc.525d4c","type":"function","z":"203da55d.cfa81a","name":"Ligar Corredor e Arandelas RGB Cozinha","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/cz/corredor/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":560,"wires":[["c31217e0.81aa58","c5faa6a3.854bd8"]]},{"id":"9dc77b27.4bbc98","type":"function","z":"203da55d.cfa81a","name":"Ligar Pia RGB Espaco Gourmet","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/espgourmet/pia/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":620,"wires":[["c31217e0.81aa58","36786c34.615d64"]]},{"id":"c5faa6a3.854bd8","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":620,"wires":[["9dc77b27.4bbc98"]]},{"id":"e3f9fa9c.7e5ac8","type":"function","z":"203da55d.cfa81a","name":"Ligar Bancada RGB Espaco Gourmet","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/espgourmet/bancada/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":680,"wires":[["c31217e0.81aa58","5f63de6a.3b6ee"]]},{"id":"36786c34.615d64","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":680,"wires":[["e3f9fa9c.7e5ac8"]]},{"id":"5f63de6a.3b6ee","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":740,"wires":[["7347e9c9.38e118"]]},{"id":"7347e9c9.38e118","type":"function","z":"203da55d.cfa81a","name":"Ligar Persianas RGB Espaco Gourmet","func":"msg={};\nmsg.payload=\"ON\";\nmsg.topic=\"dev/test/minhacasa/espgourmet/persiana/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":740,"wires":[["c31217e0.81aa58"]]},{"id":"cf745700.883678","type":"inject","z":"203da55d.cfa81a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"30 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":880,"wires":[["1491464a.0e27ca"]]},{"id":"ff7455fd.077398","type":"api-call-service","z":"203da55d.cfa81a","name":"Desliga Rele RGB Cozinha","server":"ea743864.c4de88","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_do_corredor","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1340,"y":1060,"wires":[[]]},{"id":"1491464a.0e27ca","type":"api-current-state","z":"203da55d.cfa81a","name":"","server":"ea743864.c4de88","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ambientes_rgb","state_type":"str","state_location":"","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":880,"wires":[["606e57f9.b3e908"],[]]},{"id":"fde70310.ecb63","type":"mqtt out","z":"203da55d.cfa81a","name":"","topic":"","qos":"","retain":"","broker":"65db6daa.443ed4","x":1290,"y":880,"wires":[]},{"id":"606e57f9.b3e908","type":"function","z":"203da55d.cfa81a","name":"Desligar Ilha Cozinha","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/cz/ilha/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":880,"wires":[["fde70310.ecb63","c3af78bc.891598"]]},{"id":"c3af78bc.891598","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":940,"wires":[["5f2bfdfa.75dad4"]]},{"id":"5f2bfdfa.75dad4","type":"function","z":"203da55d.cfa81a","name":"Desligar Pia RGB Cozinha","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/cz/pia/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":940,"wires":[["fde70310.ecb63","3f2a9148.1d8a0e"]]},{"id":"3f2a9148.1d8a0e","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1000,"wires":[["8cf27bda.595c58"]]},{"id":"8cf27bda.595c58","type":"function","z":"203da55d.cfa81a","name":"Desligar Geladeira RGB Cozinha","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/cz/geladeira/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1000,"wires":[["fde70310.ecb63","2e01563.6e6c4aa"]]},{"id":"2e01563.6e6c4aa","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1060,"wires":[["eb81c6cb.3c5d28"]]},{"id":"eb81c6cb.3c5d28","type":"function","z":"203da55d.cfa81a","name":"Desligar Corredor e Arandelas RGB Cozinha","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/cz/corredor/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":910,"y":1060,"wires":[["fde70310.ecb63","ff7455fd.077398","cbfab9fc.0e7a08"]]},{"id":"dd965e6a.125c3","type":"function","z":"203da55d.cfa81a","name":"Desligar Pia RGB Espaco Gourmet","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/espgourmet/pia/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1120,"wires":[["fde70310.ecb63","70db6473.c76cdc"]]},{"id":"cbfab9fc.0e7a08","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1120,"wires":[["dd965e6a.125c3"]]},{"id":"82bddd2a.1fa59","type":"function","z":"203da55d.cfa81a","name":"Desligar Bancada RGB Espaco Gourmet","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/espgourmet/bancada/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1180,"wires":[["fde70310.ecb63","f8822415.d14698"]]},{"id":"70db6473.c76cdc","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1180,"wires":[["82bddd2a.1fa59"]]},{"id":"f8822415.d14698","type":"delay","z":"203da55d.cfa81a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1240,"wires":[["586f5da1.144444"]]},{"id":"586f5da1.144444","type":"function","z":"203da55d.cfa81a","name":"Desligar Persianas RGB Espaco Gourmet","func":"msg={};\nmsg.payload=\"OFF\";\nmsg.topic=\"dev/test/minhacasa/espgourmet/persiana/comando\";\nmsg.qos=1;\nmsg.retain=\"true\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":1240,"wires":[["fde70310.ecb63"]]},{"id":"b6395fab.a7126","type":"comment","z":"203da55d.cfa81a","name":"AUTOMAÇÃO PARA LIGAR AS ILUMINAÇÕES RGB DA COZINHA E ESPAÇO GOURMET **************************************************************************************************************************************","info":"","x":690,"y":260,"wires":[]},{"id":"a4640987.52b058","type":"comment","z":"203da55d.cfa81a","name":"AUTOMAÇÃO PARA DESLIGAR AS ILUMINAÇÕES RGB DA COZINHA E ESPAÇO GOURMET ************************************************************************************************************************","info":"","x":680,"y":820,"wires":[]},{"id":"743f226.9bcb6dc","type":"inject","z":"75779fa0.75c91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":80,"wires":[["10f4df93.ad1d8"]]},{"id":"cc4c9e33.67151","type":"debug","z":"75779fa0.75c91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"9ca94cc2.b8521","type":"telegram sender","z":"75779fa0.75c91","name":"","bot":"4a65f9ef.cc94f8","haserroroutput":false,"outputs":1,"x":560,"y":180,"wires":[[]]},{"id":"10f4df93.ad1d8","type":"function","z":"75779fa0.75c91","name":"","func":"var payload = { \n    chatId: -463541102,\n    type: \"photo\",\n    content: \"/config/www/natal.png\" };\n    \nreturn {payload};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":80,"wires":[["9ca94cc2.b8521","cc4c9e33.67151"]]},{"id":"140f1991.4c9426","type":"delay","z":"36bf765c.cd7cca","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":40,"wires":[["99a495a6.bdecd8"]]},{"id":"99a495a6.bdecd8","type":"api-call-service","z":"36bf765c.cd7cca","name":"Apaga Rele RGB Cozinha","server":"ea743864.c4de88","version":1,"debugenabled":true,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_do_corredor","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1090,"y":40,"wires":[[]]}]