VL/Raspberry Amostragem/NODE RED/flows.json
[{"id":"c151e70b.00c988","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d4f1b908.f85dd8","type":"rpi-gpio in","z":"c151e70b.00c988","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":90,"y":120,"wires":[["a61eb6bf.69e748"]]},{"id":"2d677072.60e1b","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2510,"y":620,"wires":[]},{"id":"a61eb6bf.69e748","type":"while-loop","z":"c151e70b.00c988","name":"","condi":"msg.payload == 1","limit":true,"limitTime":10000,"time":"wl8663a10921db9","timeType":"msg","x":170,"y":200,"wires":[["3464ded9.b4dc92","77b8c9dd.04bfa8","b2b7944d.470578","9135cffc.dd79b"],["fe0ee4ea.f0c078","84c5fb45.8c2708","de9f40bd.9ec86","288cbf10.280cb"]]},{"id":"fe0ee4ea.f0c078","type":"function","z":"c151e70b.00c988","name":"Hora inicial","func":"const date = new Date();\n\nconst houras = date.getHours();\nconst minutos = date.getMinutes();\nconst segundos = date.getSeconds();\nconst formattedTime = `${houras.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;\n\nglobal.set(\"hora_inicial\", formattedTime )\n\nnode.send([{ payload: formattedTime }])\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":220,"wires":[[]]},{"id":"3464ded9.b4dc92","type":"function","z":"c151e70b.00c988","name":"Hora final","func":" var   msg1 = {};\n var   msg2 = {};\n \nconst date = new Date();\n\nconst horas = date.getHours();\nconst minutos = date.getMinutes();\nconst segundos = date.getSeconds();\nconst formattedTime = `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;\nglobal.set(\"hora_final\", formattedTime);\n\nconst horaInicial = global.get(\"hora_inicial\");\nconst horaFinal = global.get(\"hora_final\");\n\nconst [horaInicialHora, horaInicialMinuto, horaInicialSegundo] = horaInicial.split(\":\").map(Number);\nconst [horaFinalHora, horaFinalMinuto, horaFinalSegundo] = horaFinal.split(\":\").map(Number);\n\nconst segundosTotaisInicial = (horaInicialHora * 3600) + (horaInicialMinuto * 60) + horaInicialSegundo;\nconst segundosTotaisFinal = (horaFinalHora * 3600) + (horaFinalMinuto * 60) + horaFinalSegundo;\nlet tempoDecorridoSegundos = segundosTotaisFinal - segundosTotaisInicial;\n\nif (tempoDecorridoSegundos < 0) {\n    tempoDecorridoSegundos += 86400; \n}\n\nconst diasDecorridos = Math.floor(tempoDecorridoSegundos / 86400);\ntempoDecorridoSegundos %= 86400; \n\nconst horasDecorridas = Math.floor(tempoDecorridoSegundos / 3600);\ntempoDecorridoSegundos %= 3600; \n\nconst minutosDecorridos = Math.floor(tempoDecorridoSegundos / 60);\nconst segundosDecorridos = tempoDecorridoSegundos % 60;\n\nconst formattedElapsedTime = `${diasDecorridos}d ${horasDecorridas.toString().padStart(2, '0')}:${minutosDecorridos.toString().padStart(2, '0')}:${segundosDecorridos.toString().padStart(2, '0')}`;\nconst formattedElapsedTime2 = `${segundosDecorridos.toString().padStart(2, '0')}`;\n\nvar tempo = parseInt(formattedElapsedTime2);\nif(tempo >=8)\n{\n msg.payload = \"valida amostragem\";  \n}\nelse\n{\n  msg.payload = \"nao_valida amostragem\";  \n}\n\nglobal.set(\"tempo_decorrido\", formattedElapsedTime);\nmsg2.payload = tempo;\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["35c7b708.0f4808"],["47d392a5.cdb2fc"]]},{"id":"61150157.9da7b","type":"rpi-gpio in","z":"c151e70b.00c988","name":"","pin":"5","intype":"tri","debounce":"25","read":false,"x":130,"y":760,"wires":[["717d2048.a82da"]]},{"id":"717d2048.a82da","type":"while-loop","z":"c151e70b.00c988","name":"","condi":"msg.payload == 1","limit":true,"limitTime":10000,"time":"wl8663a10921db9","timeType":"msg","x":190,"y":840,"wires":[["a221b8db.4ce018","5c5223a9.513f2c"],["9739a5fe.64f438","22dc9e91.92c732"]]},{"id":"c7184baf.19ace8","type":"comment","z":"c151e70b.00c988","name":"Monitora entrada para sensor de posicao *************************************************","info":"","x":310,"y":20,"wires":[]},{"id":"35c7b708.0f4808","type":"switch","z":"c151e70b.00c988","name":"Valida amostragem?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"valida amostragem","vt":"str"},{"t":"neq","v":"valida amostragem","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":180,"wires":[["148bab0c.2f7305","574271fd.8bb53","89145662.237d58"],["ee80339d.06b77","43bb9c70.661ab4"]]},{"id":"b8afe495.2812c8","type":"http request","z":"c151e70b.00c988","name":"Consulta dados api","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2310,"y":620,"wires":[["2d677072.60e1b"]]},{"id":"2ef84d47.f1b842","type":"inject","z":"c151e70b.00c988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1360,"y":440,"wires":[["c2a86eaa.3c704"]]},{"id":"c2a86eaa.3c704","type":"http request","z":"c151e70b.00c988","name":"Busca o ultimo sem amostrar","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.30.198/dashboard_vl/amostragem/busca_tag.php","tls":"","persist":false,"proxy":"","authType":"","x":1480,"y":380,"wires":[["68a8c5cb.b55fcc"]]},{"id":"3c6331a1.2a656e","type":"switch","z":"c151e70b.00c988","name":"Verifica se pode amostrar","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"nao","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1990,"y":480,"wires":[["63abbc0.a70d444"]]},{"id":"b144b69f.6de938","type":"inject","z":"c151e70b.00c988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2100,"y":660,"wires":[["b8afe495.2812c8"]]},{"id":"68a8c5cb.b55fcc","type":"function","z":"c151e70b.00c988","name":"","func":"\n var   msg1 = {};\n var   msg2 = {};\n var   msg3 = {};\n\n\nvar array = msg.payload.split(';'),\n    a = array[0], b = array[1], c = array[2];\n    \n    \nmsg1.payload = a;\nmsg2.payload = b;\nmsg3.payload = String(c);\n\nreturn [msg1,msg2,msg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":460,"wires":[["b42f3d12.cd229","3e838071.4fe35"],["b06a3536.486cb8","939b8e37.da02e"],["b6ae8566.207008","f6e42eb8.02088"]]},{"id":"63abbc0.a70d444","type":"function","z":"c151e70b.00c988","name":"","func":"var ultima_tag = flow.get(\"ultima_tag\");\n\n\nmsg.payload = \"http://192.168.30.198/dashboard_vl/amostragem/consultar_dados_amostragem.php?epc=\"+ultima_tag;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":480,"wires":[["ee65f102.010a8"]]},{"id":"ee65f102.010a8","type":"change","z":"c151e70b.00c988","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":600,"wires":[["b8afe495.2812c8"]]},{"id":"f8de3621.0932d8","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":100,"wires":[]},{"id":"69f42aff.35d944","type":"comment","z":"c151e70b.00c988","name":">>>> Se >=10 segundos atuado (em 0 ) conta como amostragem!","info":"","x":260,"y":60,"wires":[]},{"id":"148bab0c.2f7305","type":"link out","z":"c151e70b.00c988","name":"Pode_tratar_como_amostrado","links":["bd910b5b.50b718","622f2e0f.3f48e"],"x":855,"y":300,"wires":[]},{"id":"7d61c000.bf9cd","type":"comment","z":"c151e70b.00c988","name":"Monitora entrada do rele *************************************************","info":"","x":300,"y":680,"wires":[]},{"id":"b2379fb8.0949","type":"comment","z":"c151e70b.00c988","name":"Em 0 - Verde    /  Em 1 = Vermelho","info":"","x":190,"y":720,"wires":[]},{"id":"a221b8db.4ce018","type":"debug","z":"c151e70b.00c988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":780,"wires":[]},{"id":"bd910b5b.50b718","type":"link in","z":"c151e70b.00c988","name":"","links":["148bab0c.2f7305"],"x":75,"y":1040,"wires":[["3595a455.149a9c","33bcdfc0.e258e"]]},{"id":"3595a455.149a9c","type":"switch","z":"c151e70b.00c988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":1040,"wires":[["f552387c.7e6538"]]},{"id":"5c5223a9.513f2c","type":"function","z":"c151e70b.00c988","name":"Seta a variavel \"semaforo\" em ( verde )","func":"flow.set('semaforo', \"verde\");\nmsg.payload = \"verde\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":740,"wires":[["470d2e62.68398","6a756036.c6887","b373ee9b.1c7c9"]]},{"id":"9739a5fe.64f438","type":"function","z":"c151e70b.00c988","name":"Seta a variavel \"semaforo\" em ( vermelho )","func":"flow.set('semaforo', \"vermelho\");\nmsg.payload = \"vermelho\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":820,"wires":[["470d2e62.68398","3d54d53e.f85eca","f1a00117.cf8bb"]]},{"id":"f552387c.7e6538","type":"function","z":"c151e70b.00c988","name":"Busca o valor da variavel \"semaforo\"","func":"let semaforo = flow.get ('semaforo'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nif(semaforo == \"vermelho\")\n{\n msg.payload=\"Possivel condicao: Iniciado a amostragem\";\n}\nelse\n{\n msg.payload=\"Possivel condicao: Apenas passagem ou semaforo esta verde!\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":1040,"wires":[["26e58489.f56a7c"]]},{"id":"26e58489.f56a7c","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":1040,"wires":[]},{"id":"33bcdfc0.e258e","type":"debug","z":"c151e70b.00c988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":1120,"wires":[]},{"id":"47d392a5.cdb2fc","type":"function","z":"c151e70b.00c988","name":"tempo_amostrando","func":"let valor = msg.payload;\n\nflow.set('tempo_amostrando',valor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":220,"wires":[[]]},{"id":"43bb9c70.661ab4","type":"function","z":"c151e70b.00c988","name":"","func":"let valor = flow.get ('tempo_amostrando'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = \"Não valida pois ficou apenas \" + String(valor) + \" segundos!\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":200,"wires":[["f8de3621.0932d8"]]},{"id":"4f7e6c96.dd4284","type":"inject","z":"c151e70b.00c988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":80,"wires":[["3f805267.4bc97e"]]},{"id":"3f805267.4bc97e","type":"function","z":"c151e70b.00c988","name":"tempo_amostrando = 0","func":"let valor = flow.get ('tempo_amostrando')||0;\n\nmsg.payload = parseInt(valor);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":80,"wires":[["f8de3621.0932d8"]]},{"id":"5506284c.9b5768","type":"inject","z":"c151e70b.00c988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1080,"wires":[["f552387c.7e6538"]]},{"id":"22dc9e91.92c732","type":"debug","z":"c151e70b.00c988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":860,"wires":[]},{"id":"470d2e62.68398","type":"debug","z":"c151e70b.00c988","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":780,"wires":[]},{"id":"de8b9776.d59f58","type":"comment","z":"c151e70b.00c988","name":"Monitora passagem ou possivel amostragem *************************************************","info":"","x":340,"y":980,"wires":[]},{"id":"77b8c9dd.04bfa8","type":"function","z":"c151e70b.00c988","name":"condicao_sensor = desatuado","func":"flow.set('condicao_sensor',\"desatuado\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[[]]},{"id":"574271fd.8bb53","type":"function","z":"c151e70b.00c988","name":"amostrado = Sim","func":"flow.set('amostrado',\"Sim\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":120,"wires":[[]]},{"id":"ee80339d.06b77","type":"function","z":"c151e70b.00c988","name":"amostrado = Não","func":"flow.set('amostrado',\"Não\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":240,"wires":[[]]},{"id":"89145662.237d58","type":"function","z":"c151e70b.00c988","name":"","func":"let valor = flow.get ('tempo_amostrando'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = \"Veiculo amostrado e com tempo de \" + String(valor) + \" segundos!\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":160,"wires":[["f8de3621.0932d8","54c644c5.9aad1c"]]},{"id":"2a1fca9b.ed1946","type":"function","z":"c151e70b.00c988","name":"Mudar tela=1 por API","func":"msg.payload = \"http://192.168.30.198/dashboard_vl/amostragem/seleciona_tela.php?tela=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":1200,"wires":[["2191bd06.134f22"]]},{"id":"2191bd06.134f22","type":"change","z":"c151e70b.00c988","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1200,"wires":[["a3d6fd51.0d47"]]},{"id":"a3d6fd51.0d47","type":"http request","z":"c151e70b.00c988","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":1200,"wires":[[]]},{"id":"9eb9763a.5e3548","type":"inject","z":"c151e70b.00c988","name":"Testar mudanca tela","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":1200,"wires":[["2a1fca9b.ed1946"]]},{"id":"b42f3d12.cd229","type":"debug","z":"c151e70b.00c988","name":"Retorna o ID da ultima tag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":280,"wires":[]},{"id":"b06a3536.486cb8","type":"debug","z":"c151e70b.00c988","name":"Retorna  a condicao da ultima tag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1840,"y":440,"wires":[]},{"id":"b6ae8566.207008","type":"debug","z":"c151e70b.00c988","name":"Retorna a ultima tag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1800,"y":580,"wires":[]},{"id":"3e838071.4fe35","type":"function","z":"c151e70b.00c988","name":"ultimo_id","func":"flow.set('ultimo_id',msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":380,"wires":[[]]},{"id":"939b8e37.da02e","type":"function","z":"c151e70b.00c988","name":"ultima_condicao","func":"flow.set('ultima_condicao',msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1780,"y":480,"wires":[["3c6331a1.2a656e"]]},{"id":"f6e42eb8.02088","type":"function","z":"c151e70b.00c988","name":"ultima_tag","func":"flow.set('ultima_tag',msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":540,"wires":[[]]},{"id":"622f2e0f.3f48e","type":"link in","z":"c151e70b.00c988","name":"","links":["148bab0c.2f7305"],"x":1415,"y":320,"wires":[["c2a86eaa.3c704"]]},{"id":"b2b7944d.470578","type":"function","z":"c151e70b.00c988","name":"Seta atuado na variavel \"tempo_amostrando\"","func":"flow.set('tempo_amostrando',0);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":260,"wires":[[]]},{"id":"94fa0a89.30b748","type":"delay","z":"c151e70b.00c988","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":480,"wires":[["de9f40bd.9ec86"]]},{"id":"84c5fb45.8c2708","type":"function","z":"c151e70b.00c988","name":"condicao_sensor = atuado","func":"flow.set('condicao_sensor',\"atuado\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":300,"wires":[[]]},{"id":"de9f40bd.9ec86","type":"function","z":"c151e70b.00c988","name":"Monitora tempo","func":"var valor = flow.get('valor')||0;\nvar condicao_semaforo = flow.get('semaforo')|| 'vermelho';\n\nvar condicao = flow.get('condicao_sensor');\n\nif (condicao == \"atuado\")\n{\n valor = parseInt(valor) + 1; \n msg.payload = valor;\n flow.set('valor', parseInt(valor));\n \n if(parseInt(valor) == 8  && condicao_semaforo == \"verde\")\n {\n  msg.payload = \"Comeca_validar_1\"   ;\n }\n return msg;\n}\nelse\n{\n msg.payload = 'vazio1';   \n    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":400,"wires":[["94fa0a89.30b748","b19def2b.d1101","d2a39e83.4323d"]]},{"id":"b19def2b.d1101","type":"switch","z":"c151e70b.00c988","name":"Validou com 8 s e semaforo verde","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Comeca_validar_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":400,"wires":[["1bbd6077.0ee44"]]},{"id":"9135cffc.dd79b","type":"function","z":"c151e70b.00c988","name":"valor = 0","func":"flow.set('valor',0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[[]]},{"id":"1bbd6077.0ee44","type":"function","z":"c151e70b.00c988","name":"Busca valor semaforo","func":"var condicao_semaforo = flow.get('semaforo')||'vermelho';\n\n\nif(condicao_semaforo == \"verde\")\n{\n // Amostragem com sinal verde!\n //Considero OK TB!\n msg.payload = \"valida2\";\n}\nelse\n{\n msg.payload = \"ignora\";    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":460,"wires":[["75179c42.3cbcd4","4348c511.1ed6cc"]]},{"id":"7957f3e8.44da5c","type":"inject","z":"c151e70b.00c988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":920,"wires":[["8ca2ebdd.03ef58"]]},{"id":"8ca2ebdd.03ef58","type":"function","z":"c151e70b.00c988","name":"Busca condicao do semaforo","func":"msg.payload = flow.get('semaforo')||'vermelho';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":920,"wires":[["6b3ad73e.3430d8"]]},{"id":"6b3ad73e.3430d8","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":920,"wires":[]},{"id":"8ffc64d1.385b58","type":"comment","z":"c151e70b.00c988","name":"*************************  INICIA VALIDACAO DOS DADOS E MUDA PARA OS DADOS ************************","info":"","x":1260,"y":540,"wires":[]},{"id":"da33387e.11c068","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1970,"y":140,"wires":[]},{"id":"75179c42.3cbcd4","type":"switch","z":"c151e70b.00c988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"valida2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":460,"wires":[["b6426ece.e93f6"]]},{"id":"288cbf10.280cb","type":"function","z":"c151e70b.00c988","name":"Monitora com semaforo vermelho","func":"var valor = flow.get('valor')||0;\nvar condicao_semaforo = flow.get('semaforo')|| 'vermelho';\n\nvar condicao = flow.get('condicao_sensor');\n\nif (condicao == \"atuado\")\n{\n \n msg.payload = valor;\n flow.set('valor', parseInt(valor));\n \n if(parseInt(valor) == 4 && condicao_semaforo == \"vermelho\")\n {\n  msg.payload = \"Comeca_validar2\"   ;\n }\n return msg;\n}\nelse\n{\n msg.payload = 'vazio2';   \n    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":540,"wires":[["1911eb9.1295414","a79e471d.6045f8","769381a1.c282d"]]},{"id":"1911eb9.1295414","type":"delay","z":"c151e70b.00c988","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":620,"wires":[["288cbf10.280cb"]]},{"id":"a79e471d.6045f8","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"769381a1.c282d","type":"switch","z":"c151e70b.00c988","name":"validou com 4s e semaforo vermelho","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Comeca_validar2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":580,"wires":[["b6426ece.e93f6"]]},{"id":"b6426ece.e93f6","type":"function","z":"c151e70b.00c988","name":"Chamo validacoes da tag e tela","func":"msg.payload = \"http://192.168.30.198/dashboard_vl/amostragem/consultar_dados_amostragem.php\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":580,"wires":[["6bec38d.d7da7c8"]]},{"id":"6bec38d.d7da7c8","type":"change","z":"c151e70b.00c988","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":580,"wires":[["83832e67.7c338"]]},{"id":"83832e67.7c338","type":"http request","z":"c151e70b.00c988","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1530,"y":580,"wires":[[]]},{"id":"b532c860.699b98","type":"comment","z":"c151e70b.00c988","name":"*************************  VALIDA A AMOSTRAGEM E SEU TEMPO GASTO  ************************","info":"","x":1810,"y":40,"wires":[]},{"id":"54c644c5.9aad1c","type":"function","z":"c151e70b.00c988","name":"Chamo para validar a amostragem e seu tempo gasto","func":"let valor = flow.get ('tempo_amostrando'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = \"http://192.168.30.198/dashboard_vl/amostragem/atualiza_amostrado.php?tempo_gasto=\"+String(valor);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":100,"wires":[["da33387e.11c068","be7e78bf.568b68","8af3057e.4e9358"]]},{"id":"be7e78bf.568b68","type":"change","z":"c151e70b.00c988","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":100,"wires":[["4cce394d.a01248"]]},{"id":"4cce394d.a01248","type":"http request","z":"c151e70b.00c988","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":2230,"y":100,"wires":[[]]},{"id":"78d1e515.4ae96c","type":"inject","z":"c151e70b.00c988","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1560,"y":160,"wires":[["54c644c5.9aad1c"]]},{"id":"8af3057e.4e9358","type":"delay","z":"c151e70b.00c988","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2000,"y":200,"wires":[["19da31d8.d776de"]]},{"id":"19da31d8.d776de","type":"function","z":"c151e70b.00c988","name":"Limpa tempo gasto","func":"flow.set('tempo_amostrando',0);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2200,"y":220,"wires":[[]]},{"id":"d2a39e83.4323d","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":360,"wires":[]},{"id":"4348c511.1ed6cc","type":"debug","z":"c151e70b.00c988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":420,"wires":[]},{"id":"6a756036.c6887","type":"function","z":"c151e70b.00c988","name":"Mudar semaforo para VERDE por API","func":"msg.payload = \"http://192.168.30.198/dashboard_vl/amostragem/seleciona_semaforo.php?semaforo=verde\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":740,"wires":[["684e30c7.77f1a"]]},{"id":"684e30c7.77f1a","type":"change","z":"c151e70b.00c988","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":740,"wires":[["9b5c4b33.32d938"]]},{"id":"9b5c4b33.32d938","type":"http request","z":"c151e70b.00c988","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1450,"y":740,"wires":[[]]},{"id":"3d54d53e.f85eca","type":"function","z":"c151e70b.00c988","name":"Mudar semaforo para VERMELHO por API","func":"msg.payload = \"http://192.168.30.198/dashboard_vl/amostragem/seleciona_semaforo.php?semaforo=vermelho\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":820,"wires":[["684e30c7.77f1a"]]},{"id":"f50c6f56.d6f49","type":"inject","z":"c151e70b.00c988","name":"Testar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":700,"wires":[["6a756036.c6887"]]},{"id":"a6dc1240.4c482","type":"inject","z":"c151e70b.00c988","name":"Testar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":710,"y":880,"wires":[["3d54d53e.f85eca"]]},{"id":"8ea444b.c72dab8","type":"inject","z":"c151e70b.00c988","name":"HIGH - Vermelho","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1140,"y":940,"wires":[["c42e673a.61edc8"]]},{"id":"c42e673a.61edc8","type":"rpi-gpio out","z":"c151e70b.00c988","name":"RELE (7)","pin":"7","set":true,"level":"0","freq":"","out":"out","x":1380,"y":940,"wires":[]},{"id":"ffedf91d.ca4e08","type":"inject","z":"c151e70b.00c988","name":"LOW - VERDE","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1140,"y":1060,"wires":[["c42e673a.61edc8"]]},{"id":"2c33b14f.50465e","type":"comment","z":"c151e70b.00c988","name":"Atua RELE ***********************************","info":"","x":1200,"y":900,"wires":[]},{"id":"b373ee9b.1c7c9","type":"function","z":"c151e70b.00c988","name":"VERDE","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1020,"wires":[["c42e673a.61edc8"]]},{"id":"f1a00117.cf8bb","type":"function","z":"c151e70b.00c988","name":"VERMELHO","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":980,"wires":[["c42e673a.61edc8"]]}]