MB/Raspberry Amostragem MB/ARQUIVO QUE RODA NO NODERED/flows.json
[{"id":"ee8f75d2.6d9fd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ecf5429.f79158","type":"rpi-gpio in","z":"ee8f75d2.6d9fd8","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":70,"y":200,"wires":[["8663a109.21db9"]]},{"id":"ce2b903.93be57","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2150,"y":1680,"wires":[]},{"id":"8663a109.21db9","type":"while-loop","z":"ee8f75d2.6d9fd8","name":"","condi":"msg.payload == 0","limit":true,"limitTime":10000,"time":"wl8663a10921db9","timeType":"msg","x":270,"y":200,"wires":[["3f93f3fa.8d81ec","67272ecd.1a301","1f4f2858.12b3f8","272b84ac.ca7dfc"],["286074bb.91548c","47712839.7b7fc8","8f432f22.330e4","25c71568.c589ba"]]},{"id":"286074bb.91548c","type":"function","z":"ee8f75d2.6d9fd8","name":"Hora inicial","func":"const date = new Date();\n\nconst houras = date.getHours();\nconst minutos = date.getMinutes();\nconst segundos = date.getSeconds();\nconst formattedTime = `${houras.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;\n\nglobal.set(\"hora_inicial\", formattedTime )\n\nnode.send([{ payload: formattedTime }])\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":220,"wires":[[]]},{"id":"3f93f3fa.8d81ec","type":"function","z":"ee8f75d2.6d9fd8","name":"Hora final","func":" var   msg1 = {};\n var   msg2 = {};\n \nconst date = new Date();\n\nconst horas = date.getHours();\nconst minutos = date.getMinutes();\nconst segundos = date.getSeconds();\nconst formattedTime = `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;\nglobal.set(\"hora_final\", formattedTime);\n\nconst horaInicial = global.get(\"hora_inicial\");\nconst horaFinal = global.get(\"hora_final\");\n\nconst [horaInicialHora, horaInicialMinuto, horaInicialSegundo] = horaInicial.split(\":\").map(Number);\nconst [horaFinalHora, horaFinalMinuto, horaFinalSegundo] = horaFinal.split(\":\").map(Number);\n\nconst segundosTotaisInicial = (horaInicialHora * 3600) + (horaInicialMinuto * 60) + horaInicialSegundo;\nconst segundosTotaisFinal = (horaFinalHora * 3600) + (horaFinalMinuto * 60) + horaFinalSegundo;\nlet tempoDecorridoSegundos = segundosTotaisFinal - segundosTotaisInicial;\n\nif (tempoDecorridoSegundos < 0) {\n    tempoDecorridoSegundos += 86400; \n}\n\nconst diasDecorridos = Math.floor(tempoDecorridoSegundos / 86400);\ntempoDecorridoSegundos %= 86400; \n\nconst horasDecorridas = Math.floor(tempoDecorridoSegundos / 3600);\ntempoDecorridoSegundos %= 3600; \n\nconst minutosDecorridos = Math.floor(tempoDecorridoSegundos / 60);\nconst segundosDecorridos = tempoDecorridoSegundos % 60;\n\nconst formattedElapsedTime = `${diasDecorridos}d ${horasDecorridas.toString().padStart(2, '0')}:${minutosDecorridos.toString().padStart(2, '0')}:${segundosDecorridos.toString().padStart(2, '0')}`;\nconst formattedElapsedTime2 = `${segundosDecorridos.toString().padStart(2, '0')}`;\n\nvar tempo = parseInt(formattedElapsedTime2);\nif(tempo >=8)\n{\n msg.payload = \"valida amostragem\";  \n}\nelse\n{\n  msg.payload = \"nao_valida amostragem\";  \n}\n\nglobal.set(\"tempo_decorrido\", formattedElapsedTime);\nmsg2.payload = tempo;\n\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":180,"wires":[["dc1607b5.768498"],["45cb735.9f2f48c"]]},{"id":"29b32117.852d7e","type":"rpi-gpio in","z":"ee8f75d2.6d9fd8","name":"","pin":"5","intype":"tri","debounce":"25","read":false,"x":110,"y":880,"wires":[["adcfdb1b.329348"]]},{"id":"adcfdb1b.329348","type":"while-loop","z":"ee8f75d2.6d9fd8","name":"","condi":"msg.payload == 0","limit":true,"limitTime":10000,"time":"wl8663a10921db9","timeType":"msg","x":310,"y":880,"wires":[["139b122c.f33dae","75fc3d12.02e834"],["fed43f18.2a9ba","6d42e55e.8930cc"]]},{"id":"cb55b81d.44ebb8","type":"comment","z":"ee8f75d2.6d9fd8","name":"Monitora entrada para sensor de posicao *************************************************","info":"","x":310,"y":20,"wires":[]},{"id":"dc1607b5.768498","type":"switch","z":"ee8f75d2.6d9fd8","name":"Valida amostragem?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"valida amostragem","vt":"str"},{"t":"neq","v":"valida amostragem","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":180,"wires":[["c285600d.60bc1","9d0aea4d.d0aa98","abf62741.591098"],["2b379741.45d638","ccb0e60d.eb11d8"]]},{"id":"e1eec947.f62e78","type":"http request","z":"ee8f75d2.6d9fd8","name":"Consulta dados api","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1910,"y":1680,"wires":[["ce2b903.93be57"]]},{"id":"7d790c09.4cc474","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1620,"wires":[["9fa97849.a3fcc8"]]},{"id":"9fa97849.a3fcc8","type":"http request","z":"ee8f75d2.6d9fd8","name":"Busca o ultimo sem amostrar","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.162.10.132/dashboard_utmi/amostragem/busca_tag.php","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":1620,"wires":[["9f24c2ac.6dbec"]]},{"id":"d534270.79a8bd8","type":"switch","z":"ee8f75d2.6d9fd8","name":"Verifica se pode amostrar","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"nao","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":1660,"wires":[["bcea9611.5e3098"]]},{"id":"fc253338.14a81","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1700,"y":1720,"wires":[["e1eec947.f62e78"]]},{"id":"9f24c2ac.6dbec","type":"function","z":"ee8f75d2.6d9fd8","name":"","func":"\n var   msg1 = {};\n var   msg2 = {};\n var   msg3 = {};\n\n\nvar array = msg.payload.split(';'),\n    a = array[0], b = array[1], c = array[2];\n    \n    \nmsg1.payload = a;\nmsg2.payload = b;\nmsg3.payload = String(c);\n\nreturn [msg1,msg2,msg3];\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1620,"wires":[["f8906924.bb7038","ac55c607.5883c8"],["e76d6c71.f65ca","1bc03a71.308026"],["87b7a74a.249d28","953f3116.6402a"]]},{"id":"bcea9611.5e3098","type":"function","z":"ee8f75d2.6d9fd8","name":"","func":"var ultima_tag = flow.get(\"ultima_tag\");\n\n\nmsg.payload = \"http://192.162.10.132/dashboard_utmi/amostragem/consultar_dados_amostragem.php?epc=\"+ultima_tag;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":1660,"wires":[["18b07f7d.87f0f1"]]},{"id":"18b07f7d.87f0f1","type":"change","z":"ee8f75d2.6d9fd8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":1660,"wires":[["e1eec947.f62e78"]]},{"id":"acf28a85.515898","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":100,"wires":[]},{"id":"7a138430.8fe03c","type":"comment","z":"ee8f75d2.6d9fd8","name":">>>> Se >=10 segundos atuado (em 0 ) conta como amostragem!","info":"","x":260,"y":60,"wires":[]},{"id":"c285600d.60bc1","type":"link out","z":"ee8f75d2.6d9fd8","name":"Pode_tratar_como_amostrado","links":["304ea615.3fb20a","2143bd7b.73afa2"],"x":915,"y":300,"wires":[]},{"id":"9053e28b.b6d4c","type":"comment","z":"ee8f75d2.6d9fd8","name":"Monitora entrada do rele *************************************************","info":"","x":280,"y":760,"wires":[]},{"id":"8a48513b.6dedb","type":"comment","z":"ee8f75d2.6d9fd8","name":"Em 1 - Verde    /  Em 0 = Vermelho","info":"","x":170,"y":800,"wires":[]},{"id":"139b122c.f33dae","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":860,"wires":[]},{"id":"304ea615.3fb20a","type":"link in","z":"ee8f75d2.6d9fd8","name":"","links":["c285600d.60bc1"],"x":55,"y":1120,"wires":[["c2d670db.2a4e7","c1f29af2.a9b5c8"]]},{"id":"c2d670db.2a4e7","type":"switch","z":"ee8f75d2.6d9fd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":160,"y":1120,"wires":[["45682cbf.e09e64"]]},{"id":"75fc3d12.02e834","type":"function","z":"ee8f75d2.6d9fd8","name":"Seta a variavel \"semaforo\" em ( verde )","func":"flow.set('semaforo', \"verde\");\nmsg.payload = \"verde\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":820,"wires":[["20c208d.03955f8"]]},{"id":"fed43f18.2a9ba","type":"function","z":"ee8f75d2.6d9fd8","name":"Seta a variavel \"semaforo\" em ( vermelho )","func":"flow.set('semaforo', \"vermelho\");\nmsg.payload = \"vermelho\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":900,"wires":[["20c208d.03955f8"]]},{"id":"45682cbf.e09e64","type":"function","z":"ee8f75d2.6d9fd8","name":"Busca o valor da variavel \"semaforo\"","func":"let semaforo = flow.get ('semaforo'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nif(semaforo == \"vermelho\")\n{\n msg.payload=\"Possivel condicao: Iniciado a amostragem\";\n}\nelse\n{\n msg.payload=\"Possivel condicao: Apenas passagem ou semaforo esta verde!\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1120,"wires":[["c5ada4cc.456868"]]},{"id":"c5ada4cc.456868","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":1120,"wires":[]},{"id":"c1f29af2.a9b5c8","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":1300,"wires":[]},{"id":"45cb735.9f2f48c","type":"function","z":"ee8f75d2.6d9fd8","name":"tempo_amostrando","func":"let valor = msg.payload;\n\nflow.set('tempo_amostrando',valor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":220,"wires":[[]]},{"id":"ccb0e60d.eb11d8","type":"function","z":"ee8f75d2.6d9fd8","name":"","func":"let valor = flow.get ('tempo_amostrando'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = \"Não valida pois ficou apenas \" + String(valor) + \" segundos!\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":200,"wires":[["acf28a85.515898"]]},{"id":"4d238a9.29e8b74","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":80,"wires":[["3f6541.7075cac"]]},{"id":"3f6541.7075cac","type":"function","z":"ee8f75d2.6d9fd8","name":"tempo_amostrando = 0","func":"let valor = flow.get ('tempo_amostrando')||0;\n\nmsg.payload = parseInt(valor);\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":80,"wires":[["acf28a85.515898"]]},{"id":"1b09a9a4.6ea986","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":1160,"wires":[["45682cbf.e09e64"]]},{"id":"6d42e55e.8930cc","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":940,"wires":[]},{"id":"20c208d.03955f8","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":860,"wires":[]},{"id":"602100a4.c7764","type":"comment","z":"ee8f75d2.6d9fd8","name":"Monitora passagem ou possivel amostragem *************************************************","info":"","x":320,"y":1060,"wires":[]},{"id":"67272ecd.1a301","type":"function","z":"ee8f75d2.6d9fd8","name":"condicao_sensor = desatuado","func":"flow.set('condicao_sensor',\"desatuado\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":140,"wires":[[]]},{"id":"9d0aea4d.d0aa98","type":"function","z":"ee8f75d2.6d9fd8","name":"amostrado = Sim","func":"flow.set('amostrado',\"Sim\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":120,"wires":[[]]},{"id":"2b379741.45d638","type":"function","z":"ee8f75d2.6d9fd8","name":"amostrado = Não","func":"flow.set('amostrado',\"Não\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":240,"wires":[[]]},{"id":"abf62741.591098","type":"function","z":"ee8f75d2.6d9fd8","name":"","func":"let valor = flow.get ('tempo_amostrando'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = \"Veiculo amostrado e com tempo de \" + String(valor) + \" segundos!\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":160,"wires":[["acf28a85.515898","56d6b12c.af869"]]},{"id":"a06ededd.c7b7d","type":"function","z":"ee8f75d2.6d9fd8","name":"Mudar tela=1 por API","func":"msg.payload = \"http://192.162.10.132/dashboard_utmi/amostragem/seleciona_tela.php?tela=1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1260,"wires":[["99752b6a.690728"]]},{"id":"99752b6a.690728","type":"change","z":"ee8f75d2.6d9fd8","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1260,"wires":[["10ef8607.ed80fa"]]},{"id":"10ef8607.ed80fa","type":"http request","z":"ee8f75d2.6d9fd8","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1490,"y":1260,"wires":[[]]},{"id":"a6deb1.f372315","type":"inject","z":"ee8f75d2.6d9fd8","name":"Testar mudanca tela","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":1260,"wires":[["a06ededd.c7b7d"]]},{"id":"f8906924.bb7038","type":"debug","z":"ee8f75d2.6d9fd8","name":"Retorna o ID da ultima tag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1520,"wires":[]},{"id":"e76d6c71.f65ca","type":"debug","z":"ee8f75d2.6d9fd8","name":"Retorna  a condicao da ultima tag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":1620,"wires":[]},{"id":"87b7a74a.249d28","type":"debug","z":"ee8f75d2.6d9fd8","name":"Retorna a ultima tag","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":1760,"wires":[]},{"id":"ac55c607.5883c8","type":"function","z":"ee8f75d2.6d9fd8","name":"ultimo_id","func":"flow.set('ultimo_id',msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1560,"wires":[[]]},{"id":"1bc03a71.308026","type":"function","z":"ee8f75d2.6d9fd8","name":"ultima_condicao","func":"flow.set('ultima_condicao',msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1660,"wires":[["d534270.79a8bd8"]]},{"id":"953f3116.6402a","type":"function","z":"ee8f75d2.6d9fd8","name":"ultima_tag","func":"flow.set('ultima_tag',msg.payload);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":1720,"wires":[[]]},{"id":"2143bd7b.73afa2","type":"link in","z":"ee8f75d2.6d9fd8","name":"","links":["c285600d.60bc1"],"x":175,"y":1560,"wires":[["9fa97849.a3fcc8"]]},{"id":"1f4f2858.12b3f8","type":"function","z":"ee8f75d2.6d9fd8","name":"Seta atuado na variavel \"tempo_amostrando\"","func":"flow.set('tempo_amostrando',0);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":260,"wires":[[]]},{"id":"8849ffee.23721","type":"delay","z":"ee8f75d2.6d9fd8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":520,"wires":[["8f432f22.330e4"]]},{"id":"47712839.7b7fc8","type":"function","z":"ee8f75d2.6d9fd8","name":"condicao_sensor = atuado","func":"flow.set('condicao_sensor',\"atuado\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":300,"wires":[[]]},{"id":"8f432f22.330e4","type":"function","z":"ee8f75d2.6d9fd8","name":"Monitora tempo","func":"var valor = flow.get('valor')||0;\nvar condicao_semaforo = flow.get('semaforo')|| 'vermelho';\n\nvar condicao = flow.get('condicao_sensor');\n\nif (condicao == \"atuado\")\n{\n valor = parseInt(valor) + 1; \n msg.payload = valor;\n flow.set('valor', parseInt(valor));\n \n if(parseInt(valor) == 8  && condicao_semaforo == \"verde\")\n {\n  msg.payload = \"Comeca_validar_1\"   ;\n }\n return msg;\n}\nelse\n{\n msg.payload = 'vazio1';   \n    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":440,"wires":[["8849ffee.23721","2a56177e.f274f8","fbd5b473.851e88"]]},{"id":"2a56177e.f274f8","type":"switch","z":"ee8f75d2.6d9fd8","name":"Validou com 8 s e semaforo verde","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Comeca_validar_1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":440,"wires":[["bded88fd.66cfe8"]]},{"id":"272b84ac.ca7dfc","type":"function","z":"ee8f75d2.6d9fd8","name":"valor = 0","func":"flow.set('valor',0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":100,"wires":[[]]},{"id":"bded88fd.66cfe8","type":"function","z":"ee8f75d2.6d9fd8","name":"Busca valor semaforo","func":"var condicao_semaforo = flow.get('semaforo')||'vermelho';\n\n\nif(condicao_semaforo == \"verde\")\n{\n // Amostragem com sinal verde!\n //Considero OK TB!\n msg.payload = \"valida2\";\n}\nelse\n{\n msg.payload = \"ignora\";    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":500,"wires":[["db4935e.0c879c8","c1cae11a.bfe6c"]]},{"id":"4c7a3723.1d1068","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1000,"wires":[["db2e636c.42017"]]},{"id":"db2e636c.42017","type":"function","z":"ee8f75d2.6d9fd8","name":"Busca condicao do semaforo","func":"msg.payload = flow.get('semaforo')||'vermelho';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1000,"wires":[["fc8c95b8.13cc28"]]},{"id":"fc8c95b8.13cc28","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":1000,"wires":[]},{"id":"c9304025.d65ed","type":"comment","z":"ee8f75d2.6d9fd8","name":"*************************  INICIA VALIDACAO DOS DADOS E MUDA PARA OS DADOS ************************","info":"","x":1440,"y":580,"wires":[]},{"id":"253c6a63.c8e956","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1810,"y":240,"wires":[]},{"id":"db4935e.0c879c8","type":"switch","z":"ee8f75d2.6d9fd8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"valida2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":500,"wires":[["fdd2e403.e6be28"]]},{"id":"25c71568.c589ba","type":"function","z":"ee8f75d2.6d9fd8","name":"Monitora com semaforo vermelho","func":"var valor = flow.get('valor')||0;\nvar condicao_semaforo = flow.get('semaforo')|| 'vermelho';\n\nvar condicao = flow.get('condicao_sensor');\n\nif (condicao == \"atuado\")\n{\n \n msg.payload = valor;\n flow.set('valor', parseInt(valor));\n \n if(parseInt(valor) == 4 && condicao_semaforo == \"vermelho\")\n {\n  msg.payload = \"Comeca_validar2\"   ;\n }\n return msg;\n}\nelse\n{\n msg.payload = 'vazio2';   \n    \n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":580,"wires":[["f9e56da1.b21fe","f06dd9e9.3c0178","deda77cd.a4dc18"]]},{"id":"f9e56da1.b21fe","type":"delay","z":"ee8f75d2.6d9fd8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":660,"wires":[["25c71568.c589ba"]]},{"id":"f06dd9e9.3c0178","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":580,"wires":[]},{"id":"deda77cd.a4dc18","type":"switch","z":"ee8f75d2.6d9fd8","name":"validou com 4s e semaforo vermelho","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Comeca_validar2","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":620,"wires":[["fdd2e403.e6be28"]]},{"id":"fdd2e403.e6be28","type":"function","z":"ee8f75d2.6d9fd8","name":"Chamo validacoes da tag e tela","func":"msg.payload = \"http://192.162.10.132/dashboard_utmi/amostragem/consultar_dados_amostragem.php\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":620,"wires":[["db6e31b3.18373"]]},{"id":"db6e31b3.18373","type":"change","z":"ee8f75d2.6d9fd8","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":620,"wires":[["79ef6cbf.2d6554"]]},{"id":"79ef6cbf.2d6554","type":"http request","z":"ee8f75d2.6d9fd8","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":1710,"y":620,"wires":[[]]},{"id":"e347eeff.7b719","type":"comment","z":"ee8f75d2.6d9fd8","name":"*************************  VALIDA A AMOSTRAGEM E SEU TEMPO GASTO  ************************","info":"","x":1650,"y":160,"wires":[]},{"id":"56d6b12c.af869","type":"function","z":"ee8f75d2.6d9fd8","name":"Chamo para validar a amostragem e seu tempo gasto","func":"let valor = flow.get ('tempo_amostrando'); // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = \"http://192.162.10.132/dashboard_utmi/amostragem/atualiza_amostrado.php?tempo_gasto=\"+String(valor);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":200,"wires":[["253c6a63.c8e956","df0662d5.4fc95","acd2733e.c99ee"]]},{"id":"df0662d5.4fc95","type":"change","z":"ee8f75d2.6d9fd8","name":"Configura URL da API","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":200,"wires":[["5fa45bad.89f4b4"]]},{"id":"5fa45bad.89f4b4","type":"http request","z":"ee8f75d2.6d9fd8","name":"Requisicao via API","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":2070,"y":200,"wires":[[]]},{"id":"29d5d968.5911d6","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1270,"y":260,"wires":[["56d6b12c.af869"]]},{"id":"acd2733e.c99ee","type":"delay","z":"ee8f75d2.6d9fd8","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1840,"y":300,"wires":[["678fb666.0f3908"]]},{"id":"678fb666.0f3908","type":"function","z":"ee8f75d2.6d9fd8","name":"Limpa tempo gasto","func":"flow.set('tempo_amostrando',0);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2040,"y":320,"wires":[[]]},{"id":"fbd5b473.851e88","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":400,"wires":[]},{"id":"c1cae11a.bfe6c","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":460,"wires":[]}]