Automacao/Minha Casa/Node Red/Validacao de tempo corrido/Por acionamento via botao com while/flows.json
[{"id":"ee8f75d2.6d9fd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9ecf5429.f79158","type":"rpi-gpio in","z":"ee8f75d2.6d9fd8","name":"","pin":"3","intype":"tri","debounce":"25","read":false,"x":80,"y":100,"wires":[["8663a109.21db9"]]},{"id":"ce2b903.93be57","type":"debug","z":"ee8f75d2.6d9fd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"8663a109.21db9","type":"while-loop","z":"ee8f75d2.6d9fd8","name":"","condi":"msg.payload == 0","limit":true,"limitTime":10000,"time":"wl8663a10921db9","timeType":"msg","x":280,"y":100,"wires":[["3f93f3fa.8d81ec"],["286074bb.91548c"]]},{"id":"286074bb.91548c","type":"function","z":"ee8f75d2.6d9fd8","name":"Hora inicial","func":"const date = new Date();\n\nconst houras = date.getHours();\nconst minutos = date.getMinutes();\nconst segundos = date.getSeconds();\nconst formattedTime = `${houras.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;\n\nglobal.set(\"hora_inicial\", formattedTime )\n\nnode.send([{ payload: formattedTime }])\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":180,"wires":[[]]},{"id":"3f93f3fa.8d81ec","type":"function","z":"ee8f75d2.6d9fd8","name":"Hora final","func":"\nconst date = new Date();\n\nconst horas = date.getHours();\nconst minutos = date.getMinutes();\nconst segundos = date.getSeconds();\nconst formattedTime = `${horas.toString().padStart(2, '0')}:${minutos.toString().padStart(2, '0')}:${segundos.toString().padStart(2, '0')}`;\nglobal.set(\"hora_final\", formattedTime);\n\nconst horaInicial = global.get(\"hora_inicial\");\nconst horaFinal = global.get(\"hora_final\");\n\nconst [horaInicialHora, horaInicialMinuto, horaInicialSegundo] = horaInicial.split(\":\").map(Number);\nconst [horaFinalHora, horaFinalMinuto, horaFinalSegundo] = horaFinal.split(\":\").map(Number);\n\nconst segundosTotaisInicial = (horaInicialHora * 3600) + (horaInicialMinuto * 60) + horaInicialSegundo;\nconst segundosTotaisFinal = (horaFinalHora * 3600) + (horaFinalMinuto * 60) + horaFinalSegundo;\nlet tempoDecorridoSegundos = segundosTotaisFinal - segundosTotaisInicial;\n\nif (tempoDecorridoSegundos < 0) {\n    tempoDecorridoSegundos += 86400; \n}\n\nconst diasDecorridos = Math.floor(tempoDecorridoSegundos / 86400);\ntempoDecorridoSegundos %= 86400; \n\nconst horasDecorridas = Math.floor(tempoDecorridoSegundos / 3600);\ntempoDecorridoSegundos %= 3600; \n\nconst minutosDecorridos = Math.floor(tempoDecorridoSegundos / 60);\nconst segundosDecorridos = tempoDecorridoSegundos % 60;\n\n//const formattedElapsedTime = `${diasDecorridos}d ${horasDecorridas.toString().padStart(2, '0')}:${minutosDecorridos.toString().padStart(2, '0')}:${segundosDecorridos.toString().padStart(2, '0')}`;\nconst formattedElapsedTime = `${segundosDecorridos.toString().padStart(2, '0')}`;\n\nvar tempo = parseInt(formattedElapsedTime);\nif(tempo >=10)\n{\n  node.send({ payload: \"valida amostragem\" });  \n}\nelse\n{\n    node.send({ payload: \"nao_valida_amostragem\" });\n}\n\nglobal.set(\"tempo_decorrido\", formattedElapsedTime);\n//node.send({ payload: formattedElapsedTime });","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":240,"wires":[["ce2b903.93be57"]]},{"id":"ffd7212f.2f6d","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["286074bb.91548c"]]},{"id":"226039c6.50b806","type":"inject","z":"ee8f75d2.6d9fd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":240,"wires":[["3f93f3fa.8d81ec"]]}]