Automacao/Minha Casa/HomeAssistant/NodeRed Backup/NODE RED/Alexa/flows.json
[{"id":"da73e5da.6812b8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"59a86395.68dc4c","type":"amazon-echo-hub","z":"da73e5da.6812b8","port":"80","processinput":0,"discovery":true,"x":90,"y":120,"wires":[["f492d3ef.55bbe"]]},{"id":"b0af38ba.fdac58","type":"comment","z":"da73e5da.6812b8","name":"Sala ******************************************************************************************************************************************************************************************************************************************","info":"","x":700,"y":280,"wires":[]},{"id":"e0f9a4d6.9ad738","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Sala","topic":"","x":370,"y":380,"wires":[["8515efbd.c174f"]]},{"id":"8515efbd.c174f","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":380,"wires":[["d672d96b.6d3dd8"],["f20c482a.37d518"]]},{"id":"af494295.05cdc","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":360,"wires":[]},{"id":"d672d96b.6d3dd8","type":"change","z":"da73e5da.6812b8","name":"Muda ON para sala_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"sala_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[["af494295.05cdc"]]},{"id":"f20c482a.37d518","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para sala_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"sala_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":400,"wires":[["af494295.05cdc"]]},{"id":"25ed3e03.618472","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Lustre","topic":"","x":380,"y":480,"wires":[["82177f3c.92fd"]]},{"id":"82177f3c.92fd","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":480,"wires":[["631fcfd2.9f65a"],["59849465.cc2e5c"]]},{"id":"809b760.df41b88","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":460,"wires":[]},{"id":"631fcfd2.9f65a","type":"change","z":"da73e5da.6812b8","name":"Muda ON para slustre_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"slustre_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":460,"wires":[["809b760.df41b88"]]},{"id":"59849465.cc2e5c","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para slustre_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"slustre_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[["809b760.df41b88"]]},{"id":"f492d3ef.55bbe","type":"link out","z":"da73e5da.6812b8","name":"Link_com_ALEXA","links":["d47de08d.76c5f","8a17a121.e36ed","48c51083.9ecf2","22e8c040.03cd5","54537c43.21be34","f3e83788.99dc68","2a010f0.6a5eef2","3542d117.13085e","c52b3fdf.fe5cd","d34c0998.32d8d8","15592ac7.6fa3c5","895a6505.ecf128","e1e68515.952a18","6c3a8e05.46efe","50b4c145.6e359","42ae4549.9cffac","2fd07ac8.20eab6","c8534bc4.b02a38","6ee18cf8.0d6554","866af2ce.51578"],"x":235,"y":120,"wires":[]},{"id":"d47de08d.76c5f","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":55,"y":660,"wires":[["e0f9a4d6.9ad738","25ed3e03.618472","47ae62f8.45a17c","10892616.8b2eba","3a8f9a86.7ab1d6","f82e7412.ad6658"]]},{"id":"47ae62f8.45a17c","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Sacada","topic":"","x":380,"y":580,"wires":[["9479d3c6.3829b"]]},{"id":"9479d3c6.3829b","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":580,"wires":[["2d30fd4a.ccd2e2"],["644984aa.35cadc"]]},{"id":"1db46b9d.a9b254","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":560,"wires":[]},{"id":"2d30fd4a.ccd2e2","type":"change","z":"da73e5da.6812b8","name":"Muda ON para svaranda_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"svaranda_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":560,"wires":[["1db46b9d.a9b254"]]},{"id":"644984aa.35cadc","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para svaranda_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"svaranda_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":600,"wires":[["1db46b9d.a9b254"]]},{"id":"10892616.8b2eba","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Painel TV da Sala","topic":"","x":370,"y":680,"wires":[["80734a7b.746568"]]},{"id":"80734a7b.746568","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":680,"wires":[["676ec8a1.58efa8"],["775acd4f.1c5c94"]]},{"id":"b77db64f.57a738","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":660,"wires":[]},{"id":"676ec8a1.58efa8","type":"change","z":"da73e5da.6812b8","name":"Muda ON para spainel_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"spainel_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":660,"wires":[["b77db64f.57a738"]]},{"id":"775acd4f.1c5c94","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para spainel_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"spainel_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":700,"wires":[["b77db64f.57a738"]]},{"id":"3a8f9a86.7ab1d6","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Arvore de Natal","topic":"","x":360,"y":780,"wires":[["29f66ce0.c1ab14"]]},{"id":"29f66ce0.c1ab14","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":780,"wires":[["583a2bfc.4b1f64"],["17dee788.da5f98"]]},{"id":"8c1db93f.3c6fe8","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/arvore","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":760,"wires":[]},{"id":"583a2bfc.4b1f64","type":"change","z":"da73e5da.6812b8","name":"Muda ON para ligada","rules":[{"t":"set","p":"payload","pt":"msg","to":"ligada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":760,"wires":[["8c1db93f.3c6fe8"]]},{"id":"17dee788.da5f98","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para desligada","rules":[{"t":"set","p":"payload","pt":"msg","to":"desligada","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":800,"wires":[["8c1db93f.3c6fe8"]]},{"id":"f82e7412.ad6658","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Modo Cinema","topic":"","x":360,"y":880,"wires":[["fce166a4.136de8"]]},{"id":"fce166a4.136de8","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":880,"wires":[["4c94bf14.2e0de"],["35f66ed.02b3092"]]},{"id":"39c8ea7a.d62c36","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/automacao_projetor/comando","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":900,"wires":[]},{"id":"4c94bf14.2e0de","type":"change","z":"da73e5da.6812b8","name":"Muda ON para abrir_t","rules":[{"t":"set","p":"payload","pt":"msg","to":"abrir_t","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":860,"wires":[["39c8ea7a.d62c36","e79c039b.489c5"]]},{"id":"35f66ed.02b3092","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para fechar_t","rules":[{"t":"set","p":"payload","pt":"msg","to":"fechar_t","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":900,"wires":[["39c8ea7a.d62c36"]]},{"id":"36d2da21.526fe6","type":"comment","z":"da73e5da.6812b8","name":"Quarto 1 ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":980,"wires":[]},{"id":"c84798e.79d0c68","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Quarto 1","topic":"","x":350,"y":1060,"wires":[["9b5e50d7.041c3"]]},{"id":"9b5e50d7.041c3","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1060,"wires":[["23b5f50b.db25ca"],["39149a4f.32e176"]]},{"id":"3d949b55.605ee4","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":1040,"wires":[]},{"id":"23b5f50b.db25ca","type":"change","z":"da73e5da.6812b8","name":"Muda ON para quarto1_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"quarto1_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1040,"wires":[["3d949b55.605ee4"]]},{"id":"39149a4f.32e176","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para quarto1_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"quarto1_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1080,"wires":[["3d949b55.605ee4"]]},{"id":"8a17a121.e36ed","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":75,"y":1060,"wires":[["c84798e.79d0c68"]]},{"id":"ff54b168.bd135","type":"comment","z":"da73e5da.6812b8","name":"Quarto 2 ******************************************************************************************************************************************************************************************************************************************","info":"","x":700,"y":1260,"wires":[]},{"id":"19c8ce24.02b5a2","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Quarto 2","topic":"","x":370,"y":1340,"wires":[["e2069e09.531d7"]]},{"id":"e2069e09.531d7","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":1340,"wires":[["d3230ffa.0b2d8"],["da95d189.1e68e"]]},{"id":"cdcaae6c.3b3c8","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1000,"y":1320,"wires":[]},{"id":"d3230ffa.0b2d8","type":"change","z":"da73e5da.6812b8","name":"Muda ON para quarto2_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"quarto2_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1320,"wires":[["cdcaae6c.3b3c8"]]},{"id":"da95d189.1e68e","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para quarto2_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"quarto2_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1360,"wires":[["cdcaae6c.3b3c8"]]},{"id":"48c51083.9ecf2","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":95,"y":1340,"wires":[["19c8ce24.02b5a2"]]},{"id":"7ec7cae9.e3dd74","type":"comment","z":"da73e5da.6812b8","name":"Cozinha ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":1820,"wires":[]},{"id":"1f23c159.d5808f","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Cozinha","topic":"","x":340,"y":1900,"wires":[["1b75d2f6.085d8d"]]},{"id":"1b75d2f6.085d8d","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1900,"wires":[["fa79b789.551af8"],["c7023231.d9b22"]]},{"id":"25abb044.d597d","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":1880,"wires":[]},{"id":"fa79b789.551af8","type":"change","z":"da73e5da.6812b8","name":"Muda ON para cozinha_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"cozinha_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1880,"wires":[["25abb044.d597d"]]},{"id":"c7023231.d9b22","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para cozinha_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"cozinha_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1920,"wires":[["25abb044.d597d"]]},{"id":"22e8c040.03cd5","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":95,"y":2000,"wires":[["1f23c159.d5808f","968c8b80.160008","1e405708.83b9c9","4c39312a.4c001"]]},{"id":"968c8b80.160008","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Ilha","topic":"","x":330,"y":2000,"wires":[["4a49eb35.b24f94"]]},{"id":"4a49eb35.b24f94","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":2000,"wires":[["d85db7f6.bf0318"],["c4e66eec.0412b"]]},{"id":"695ffd3f.14ebf4","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1000,"y":1980,"wires":[]},{"id":"d85db7f6.bf0318","type":"change","z":"da73e5da.6812b8","name":"Muda ON para czpendente_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"czpendente_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1980,"wires":[["695ffd3f.14ebf4"]]},{"id":"c4e66eec.0412b","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para czpendente_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"czpendente_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":2020,"wires":[["695ffd3f.14ebf4"]]},{"id":"1e405708.83b9c9","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Painel TV da Cozinha","topic":"","x":340,"y":2100,"wires":[["229581af.587dce"]]},{"id":"229581af.587dce","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":2100,"wires":[["2d0b69a.1d0c896"],["6caebc05.fcd7a4"]]},{"id":"6ccafea0.d1a1d","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":2080,"wires":[]},{"id":"2d0b69a.1d0c896","type":"change","z":"da73e5da.6812b8","name":"Muda ON para czpainel_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"czpainel_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2080,"wires":[["6ccafea0.d1a1d"]]},{"id":"6caebc05.fcd7a4","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para czpainel_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"czpainel_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2120,"wires":[["6ccafea0.d1a1d"]]},{"id":"a3d6f426.adcf48","type":"comment","z":"da73e5da.6812b8","name":"Banheiro Social ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":1480,"wires":[]},{"id":"3c2dae8b.2f9222","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do banheiro","topic":"","x":350,"y":1560,"wires":[["6a593beb.da0424"]]},{"id":"6a593beb.da0424","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":1560,"wires":[["54c994cf.b5537c"],["63675ade.137a84"]]},{"id":"5915b81f.68f6f8","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":1540,"wires":[]},{"id":"54c994cf.b5537c","type":"change","z":"da73e5da.6812b8","name":"Muda ON para czpersi_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"czpersi_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1540,"wires":[["5915b81f.68f6f8"]]},{"id":"63675ade.137a84","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para czpersi_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"czpersi_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":1580,"wires":[["5915b81f.68f6f8"]]},{"id":"f3e83788.99dc68","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":95,"y":1560,"wires":[["3c2dae8b.2f9222","773fd5e.f3b5f2c"]]},{"id":"48a5fc80.d4bd14","type":"comment","z":"da73e5da.6812b8","name":"Quarto de Casal ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":2460,"wires":[]},{"id":"3aafda57.48dc96","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Quarto Casal","topic":"","x":320,"y":2540,"wires":[["47c1646c.4f35fc"]]},{"id":"47c1646c.4f35fc","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":2540,"wires":[["d75da2ad.de04e"],["a24bf766.fe8808"]]},{"id":"c6463776.8b2998","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":2520,"wires":[]},{"id":"d75da2ad.de04e","type":"change","z":"da73e5da.6812b8","name":"Muda ON para quartocasal_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"quartocasal_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":2520,"wires":[["c6463776.8b2998"]]},{"id":"a24bf766.fe8808","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para quartocasal_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"quartocasal_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":2560,"wires":[["c6463776.8b2998"]]},{"id":"2a010f0.6a5eef2","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":95,"y":2540,"wires":[["3aafda57.48dc96","5f59e2f8.e40f5c","84a1e803.c30ab8"]]},{"id":"b5bef5a9.8cdfe8","type":"comment","z":"da73e5da.6812b8","name":"Escritorio ******************************************************************************************************************************************************************************************************************************************","info":"","x":700,"y":3440,"wires":[]},{"id":"ac0b4ba0.19c958","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Escritorio","topic":"","x":370,"y":3520,"wires":[["ba168f47.8c647"]]},{"id":"ba168f47.8c647","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":3520,"wires":[["d6049309.bd814"],["686238ae.1223c8"]]},{"id":"e8dbf7fd.a39408","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1000,"y":3500,"wires":[]},{"id":"d6049309.bd814","type":"change","z":"da73e5da.6812b8","name":"Muda ON para laboratorio_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"laboratorio_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3500,"wires":[["e8dbf7fd.a39408"]]},{"id":"686238ae.1223c8","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para laboratorio_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"laboratorio_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3540,"wires":[["e8dbf7fd.a39408"]]},{"id":"3542d117.13085e","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":115,"y":3520,"wires":[["ac0b4ba0.19c958"]]},{"id":"5f59e2f8.e40f5c","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da cabeceira da cama","topic":"","x":340,"y":2640,"wires":[["c5ef9ebf.742dc"]]},{"id":"c5ef9ebf.742dc","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":2640,"wires":[["4cb733ac.b54dcc"],["f21668f6.aaec48"]]},{"id":"4cb733ac.b54dcc","type":"change","z":"da73e5da.6812b8","name":"Muda ON para qccorti_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"qccorti_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2620,"wires":[["14664756.7a2079"]]},{"id":"f21668f6.aaec48","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para qccorti_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"qccorti_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2660,"wires":[["14664756.7a2079"]]},{"id":"14664756.7a2079","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":2620,"wires":[]},{"id":"84a1e803.c30ab8","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Lustre do Closet","topic":"","x":330,"y":2740,"wires":[["597b625c.2e483c"]]},{"id":"597b625c.2e483c","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":2740,"wires":[["15a79791.e53ec8"],["99be1bab.2bd1f8"]]},{"id":"15a79791.e53ec8","type":"change","z":"da73e5da.6812b8","name":"Muda ON para closet_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"closet_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2720,"wires":[["b4873671.897188"]]},{"id":"99be1bab.2bd1f8","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para closet_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"closet_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2760,"wires":[["b4873671.897188"]]},{"id":"b4873671.897188","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":2720,"wires":[]},{"id":"e6902885.41c998","type":"comment","z":"da73e5da.6812b8","name":"Espaco Gourmet ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":2900,"wires":[]},{"id":"27f461e7.c79aae","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao do Espaco Gourmet","topic":"","x":330,"y":2980,"wires":[["31a6ea8a.b093c6"]]},{"id":"31a6ea8a.b093c6","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":2980,"wires":[["9db411c.d19e7f"],["16945556.a7a9fb"]]},{"id":"b5905547.d019b8","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":2960,"wires":[]},{"id":"9db411c.d19e7f","type":"change","z":"da73e5da.6812b8","name":"Muda ON para espgourmet_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"espgourmet_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":2960,"wires":[["b5905547.d019b8"]]},{"id":"16945556.a7a9fb","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para espgourmet_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"espgourmet_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3000,"wires":[["b5905547.d019b8"]]},{"id":"d34c0998.32d8d8","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":55,"y":3080,"wires":[["27f461e7.c79aae","555c7721.b335e8","1012588e.3268f7"]]},{"id":"555c7721.b335e8","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Bancada do Espaco Gourmet","topic":"","x":310,"y":3080,"wires":[["ed78112.80a1df"]]},{"id":"ed78112.80a1df","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":3080,"wires":[["aad8a3e2.fc178"],["6117978a.d0b708"]]},{"id":"aad8a3e2.fc178","type":"change","z":"da73e5da.6812b8","name":"Muda ON para egpendente_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"egpendente_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3060,"wires":[["37a4d9f9.9f6bf6"]]},{"id":"6117978a.d0b708","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para egpendente_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"egpendente_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":3100,"wires":[["37a4d9f9.9f6bf6"]]},{"id":"37a4d9f9.9f6bf6","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":3060,"wires":[]},{"id":"1012588e.3268f7","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Churrasqueira","topic":"","x":320,"y":3180,"wires":[["4332c6c9.c575f8"]]},{"id":"4332c6c9.c575f8","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":3180,"wires":[["a27977e3.1106c8"],["b669d2ae.8dbc4"]]},{"id":"a27977e3.1106c8","type":"change","z":"da73e5da.6812b8","name":"Muda ON para egchurras_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"egchurras_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":3160,"wires":[["3a52dc5d.4a9384"]]},{"id":"b669d2ae.8dbc4","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para egchurras_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"egchurras_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":3200,"wires":[["3a52dc5d.4a9384"]]},{"id":"3a52dc5d.4a9384","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":3160,"wires":[]},{"id":"bb23f1e2.40a74","type":"comment","z":"da73e5da.6812b8","name":"Area de servico ******************************************************************************************************************************************************************************************************************************************","info":"","x":700,"y":3280,"wires":[]},{"id":"347133a4.76e6bc","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Area de Serviço","topic":"","x":350,"y":3360,"wires":[["b72b1471.3bf808"]]},{"id":"b72b1471.3bf808","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":3360,"wires":[["25a46a7a.a68d46"],["2e452f4b.e28fd"]]},{"id":"ae696a5a.b7aea8","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1020,"y":3340,"wires":[]},{"id":"25a46a7a.a68d46","type":"change","z":"da73e5da.6812b8","name":"Muda ON para espgourmet2_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"espgourmet2_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3340,"wires":[["ae696a5a.b7aea8"]]},{"id":"2e452f4b.e28fd","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para espgourmet2_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"espgourmet2_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":3380,"wires":[["ae696a5a.b7aea8"]]},{"id":"895a6505.ecf128","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":115,"y":3360,"wires":[["347133a4.76e6bc"]]},{"id":"11124ee3.0df7c1","type":"comment","z":"da73e5da.6812b8","name":"Acesso ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":3640,"wires":[]},{"id":"4850af2c.5e8f3","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Iluminacao da Escada","topic":"","x":340,"y":3720,"wires":[["31696cd1.25d9e4"]]},{"id":"31696cd1.25d9e4","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":3720,"wires":[["270b48a2.ce2878"],["4c56705c.3ec61"]]},{"id":"4698867f.fc5998","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":980,"y":3700,"wires":[]},{"id":"270b48a2.ce2878","type":"change","z":"da73e5da.6812b8","name":"Muda ON para acesso2_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"acesso2_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":3700,"wires":[["4698867f.fc5998"]]},{"id":"4c56705c.3ec61","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para acesso2_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"acesso2_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":3740,"wires":[["4698867f.fc5998"]]},{"id":"e1e68515.952a18","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":95,"y":3720,"wires":[["4850af2c.5e8f3","9b2e1dc6.570f1"]]},{"id":"9b2e1dc6.570f1","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Abrir Portao","topic":"","x":310,"y":3820,"wires":[["46b9fbc3.dcbe84"]]},{"id":"46b9fbc3.dcbe84","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":3820,"wires":[["465207d4.e85d58"],["f1ba07c9.f05678"]]},{"id":"531902ec.b15efc","type":"mqtt out","z":"da73e5da.6812b8","name":"Publica","topic":"dev/test/minhacasa/central","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"edda8da7.90936","x":1080,"y":3800,"wires":[]},{"id":"465207d4.e85d58","type":"change","z":"da73e5da.6812b8","name":"Muda ON para gi_portaopequeno2","rules":[{"t":"set","p":"payload","pt":"msg","to":"gi_portaopequeno2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3800,"wires":[["531902ec.b15efc"]]},{"id":"f1ba07c9.f05678","type":"change","z":"da73e5da.6812b8","name":"Muda OFF para xxxxx","rules":[{"t":"set","p":"payload","pt":"msg","to":"xxxxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":3840,"wires":[["531902ec.b15efc"]]},{"id":"1aa64ece.711ca1","type":"inject","z":"da73e5da.6812b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":1720,"wires":[["b3287382.fc7d1"]]},{"id":"b3287382.fc7d1","type":"function","z":"da73e5da.6812b8","name":"Pega o valor da temperatura na variavel \"temp_agua\"","func":"let valor = flow.get ('temp_agua') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nif(valor >= 45)\n{\n msg.payload = \"A temperatura da água está em \" + valor + \"graus,será necessário misturar!\";    \n}\nif(valor >= 35 && valor < 44)\n{\n msg.payload = \"Água está morna, com temperatura de \" + valor+\" graus!\"; \n}\nif(valor < 34)\n{\n msg.payload = \"Será necessário ligar o chuveiro elétrico, pois a temperatura da água está em \"+ valor+ \"graus!\";    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1680,"wires":[["c584c36b.1e74c"]]},{"id":"773fd5e.f3b5f2c","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Temperatura da agua","topic":"","x":360,"y":1680,"wires":[["688d51ba.447d4","e39f0502.23eb68"]]},{"id":"688d51ba.447d4","type":"function","z":"da73e5da.6812b8","name":"COR-CIANO","func":"var r = msg.rgb[0]\nvar g = msg.rgb[1]\nvar b = msg.rgb[2]\n\nif(r == 0 && g == 254 && b == 254 )\n{\n msg.payload = 1;   \n}\nelse\n{\n msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1680,"wires":[["a11a0cc.d465ef"]]},{"id":"a11a0cc.d465ef","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1680,"wires":[["b3287382.fc7d1"],[]]},{"id":"e39f0502.23eb68","type":"debug","z":"da73e5da.6812b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":1720,"wires":[]},{"id":"c584c36b.1e74c","type":"api-call-service","z":"da73e5da.6812b8","name":"","server":"ea743864.c4de88","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"title\":\"TESTE ALEXA\",\"message\":\"<voice name=''>{{payload}}</voice>\",\"target\":[\"media_player.echo_dot_de_bruno\"]}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":1680,"wires":[[]]},{"id":"6fbd893d.0ada58","type":"function","z":"da73e5da.6812b8","name":"Salva o valor da temperatura na variavel \"tempo_agua\"","func":"msg.payload = msg.payload;\nlet valor = flow.get ('temp_agua') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\nflow.set('temp_agua',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1760,"wires":[[]]},{"id":"4d586535.6279dc","type":"mqtt in","z":"da73e5da.6812b8","name":"","topic":"dev/test/minhacasa/monitor_temperatura/status/temp1","qos":"2","datatype":"auto","broker":"edda8da7.90936","nl":false,"rap":true,"rh":0,"x":480,"y":1760,"wires":[["6fbd893d.0ada58"]]},{"id":"6ddce4c6.012f2c","type":"comment","z":"da73e5da.6812b8","name":"Conta de LUZ ******************************************************************************************************************************************************************************************************************************************","info":"","x":680,"y":3920,"wires":[]},{"id":"ef08998f.6da978","type":"inject","z":"da73e5da.6812b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":720,"y":4040,"wires":[["24696d1d.12b9b2"]]},{"id":"24696d1d.12b9b2","type":"function","z":"da73e5da.6812b8","name":"Pega o valor da conta da cemig e salva na variavel \"conta_cemig\"","func":"let valor_conta_cemig = flow.get ('conta_cemig') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\n\nmsg.payload = valor_conta_cemig.substr(2,valor_conta_cemig.length);\nvar array = msg.payload.split('.'),\n    reais = array[0], centavos = array[1];\n    \nmsg.payload = \"O valor da conta de luz é \"+ reais + \" reais e \"+ centavos + \" centavos\";    \nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":4000,"wires":[["1ab09859.78c158"]]},{"id":"9438febf.1ea62","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"Conta Cemig","topic":"","x":310,"y":4000,"wires":[["60df81a1.bbb49","96dadbd9.aa7a58"]]},{"id":"60df81a1.bbb49","type":"function","z":"da73e5da.6812b8","name":"COR-CIANO","func":"var r = msg.rgb[0]\nvar g = msg.rgb[1]\nvar b = msg.rgb[2]\n\nif(r == 0 && g == 254 && b == 254 )\n{\n msg.payload = 1;   \n}\nelse\n{\n msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":4000,"wires":[["1aa5cddd.6aeb82"]]},{"id":"1aa5cddd.6aeb82","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":4000,"wires":[["24696d1d.12b9b2"],[]]},{"id":"96dadbd9.aa7a58","type":"debug","z":"da73e5da.6812b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":4040,"wires":[]},{"id":"dea26ea5.dbdb","type":"function","z":"da73e5da.6812b8","name":"Salva o valor da conta da cemig na variavel \"conta_cemig\"","func":"msg.payload = msg.payload;\nlet valor_conta_cemig = flow.get ('conta_cemig') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\nflow.set('conta_cemig',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":4080,"wires":[[]]},{"id":"e85b5540.5f2d08","type":"mqtt in","z":"da73e5da.6812b8","name":"","topic":"dev/test/minhacasa/consumo/previsao_conta","qos":"2","datatype":"auto","broker":"edda8da7.90936","nl":false,"rap":true,"rh":0,"x":430,"y":4080,"wires":[["dea26ea5.dbdb"]]},{"id":"1ab09859.78c158","type":"api-call-service","z":"da73e5da.6812b8","name":"","server":"ea743864.c4de88","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"title\":\"TESTE ALEXA\",\"message\":\"<voice name=''>{{payload}}</voice>\",\"target\":[\"media_player.echo_dot_de_bruno\"]}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":4000,"wires":[[]]},{"id":"50b4c145.6e359","type":"link in","z":"da73e5da.6812b8","name":"Lincando com a Alexa","links":["f492d3ef.55bbe"],"x":95,"y":4000,"wires":[["9438febf.1ea62"]]},{"id":"e79c039b.489c5","type":"api-call-service","z":"da73e5da.6812b8","name":"Desliga a iluminação da Sala","server":"ea743864.c4de88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.iluminacao_da_sala","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":860,"wires":[[]]},{"id":"4c39312a.4c001","type":"amazon-echo-device","z":"da73e5da.6812b8","name":"sensor_Gas","topic":"","x":310,"y":2180,"wires":[["6166e233.1d74bc"]]},{"id":"6166e233.1d74bc","type":"function","z":"da73e5da.6812b8","name":"COR-CIANO","func":"var r = msg.rgb[0]\nvar g = msg.rgb[1]\nvar b = msg.rgb[2]\n\nif(r == 0 && g == 254 && b == 254 )\n{\n msg.payload = 1;   \n}\nelse\n{\n msg.payload = 0;    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":2180,"wires":[["77d2445e.a7291c"]]},{"id":"77d2445e.a7291c","type":"switch","z":"da73e5da.6812b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":2180,"wires":[["8de9ff37.2cba3"],[]]},{"id":"8de9ff37.2cba3","type":"function","z":"da73e5da.6812b8","name":"Pega o valor do gas e salva em \"gas\"","func":"let valor_gas = flow.get ('gas') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\nif(valor_gas>=80)\n{\nmsg.payload = \"Seu gás ainda está cheio, você acabou de trocar ou efetuou a troca a pouco tempo, está com \"+ valor_gas + \"porcento da sua capacidade total!\";        \n}\nelse if (valor_gas > 35 && valor_gas < 80)\n{\nmsg.payload = \"O gás ainda está cheio, está com \"+ valor_gas + \"porcento da sua capacidade total!\";    \n}\nelse if (valor_gas > 8 && valor_gas < 36)\n{\nmsg.payload = \"O gás está acabando, está com \"+ valor_gas + \" porcento da sua capacidade total!\";    \n}\nelse if(valor_gas<=8)\n{\nmsg.payload = \"Seu gás está acabando, restam apenas \"+ valor_gas + \"porcento de gás. Sugiro já comprar outro ou ficar atento, pois a qualquer momento irá acabar!\";    \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":2180,"wires":[["321b8391.0e6ffc"]]},{"id":"321b8391.0e6ffc","type":"api-call-service","z":"da73e5da.6812b8","name":"","server":"ea743864.c4de88","version":3,"debugenabled":false,"service_domain":"notify","service":"alexa_media","entityId":"","data":"{\"data\":{\"type\":\"announce\",\"method\":\"all\"},\"title\":\"TESTE ALEXA\",\"message\":\"<voice name=''>{{payload}}</voice>\",\"target\":[\"media_player.echo_dot_de_bruno\"]}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":2180,"wires":[[]]},{"id":"af6ed021.8a781","type":"mqtt in","z":"da73e5da.6812b8","name":"","topic":"dev/test/minhacasa/gas","qos":"1","datatype":"auto","broker":"edda8da7.90936","nl":false,"rap":true,"rh":0,"x":300,"y":2260,"wires":[["50ed399b.df5c38"]]},{"id":"50ed399b.df5c38","type":"function","z":"da73e5da.6812b8","name":"Salva o valor do gas na variavel \"gas\"","func":"msg.payload = msg.payload;\nlet valor_gas = flow.get ('gas') || 0; // Cria a variavel, busca nela e caso nao tenha valor atribui 0\nflow.set('gas',msg.payload); // pega o valor atual de contagem e salva na variavel global 'contagem'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":2260,"wires":[[]]},{"id":"4a52fd6c.588304","type":"inject","z":"da73e5da.6812b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":2220,"wires":[["8de9ff37.2cba3"]]},{"id":"edda8da7.90936","type":"mqtt-broker","name":"Broker_186","broker":"192.168.3.186","port":"1883","clientid":"central_ha_principal","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ea743864.c4de88","type":"server","name":"Home Assistant_casa","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]