Automacao/Minha Casa/Node Red/Buscar Data/flow.txt
[{"id":"27c2471a.c45168","type":"inject","z":"d40e55c.b3036a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["290b6245.9b7eee"]]},{"id":"290b6245.9b7eee","type":"function","z":"d40e55c.b3036a8","name":"","func":"let d = new Date();\nlet dia = d.getDate();\n\nlet hora = d.getHours();\nlet minuto = d.getMinutes();\nlet segundo = d.getSeconds();\nlet mes = d.getMonth()+1;\nlet ano = d.getFullYear();\n\nif(String(hora).length == 1){hora = '0'+ String(hora);}\nif(String(minuto).length == 1){minuto = '0'+ String(minuto);}\nif(String(segundo).length == 1){segundo = '0'+ String(segundo);}\n\nif(String(dia).length == 1){dia = '0'+ String(dia);}\nif(String(mes).length == 1){mes = '0'+ String(mes);}\n\nlet valor_hora = hora+':'+minuto+':'+segundo;\nlet valor_data = dia + '/'+mes + '/' + ano;\n\nmsg.payload = valor_hora +'   -   ' + valor_data;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[["b900b7f.9d00448"]]},{"id":"b900b7f.9d00448","type":"debug","z":"d40e55c.b3036a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":100,"wires":[]}]