Automacao/Minha Casa/Node Red/Salvar foto Request HTTP Camera RTSP/Flow.txt
[{"id":"bd25d0e8.6e197","type":"inject","z":"44f1e82f.72a168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":40,"wires":[["a2c887c.98d4d78"]]},{"id":"a2c887c.98d4d78","type":"www-request","z":"44f1e82f.72a168","name":"","method":"GET","ret":"bin","url":"http://192.168.80.122:8122/cgi-bin/snapshot.cgi?media=JPEG","follow-redirects":false,"persistent-http":true,"tls":"","x":550,"y":80,"wires":[["c31ca3a9.4b9b9"]]},{"id":"c31ca3a9.4b9b9","type":"base64","z":"44f1e82f.72a168","name":"","action":"","property":"payload","x":760,"y":80,"wires":[["a711e820.8ac448","f4e1b0a9.90952"]]},{"id":"f4e1b0a9.90952","type":"file","z":"44f1e82f.72a168","name":"Salvar_foto","filename":"/home/pi/screenshot/Portao/foto.jpg","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"base64","x":990,"y":60,"wires":[[]]},{"id":"a711e820.8ac448","type":"image","z":"44f1e82f.72a168","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1000,"y":100,"wires":[]}]