Automacao/Minha Casa/Node Red/Banco de dados CSV/flow.txt
[{"id":"35eb5599.39a85a","type":"inject","z":"d40e55c.b3036a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"442002000000000000001659","payloadType":"str","x":170,"y":40,"wires":[["f75878dc.4607e8"]]},{"id":"f75878dc.4607e8","type":"function","z":"d40e55c.b3036a8","name":"Busca_hora_data","func":"let mensagem_valor = msg.payload;\nlet d = new Date();\nlet dia = d.getDate();\n\nlet hora = d.getHours();\nlet minuto = d.getMinutes();\nlet segundo = d.getSeconds();\nlet mes = d.getMonth()+1;\nlet ano = d.getFullYear();\n\nif(String(hora).length == 1){hora = '0'+ String(hora);}\nif(String(minuto).length == 1){minuto = '0'+ String(minuto);}\nif(String(segundo).length == 1){segundo = '0'+ String(segundo);}\n\nif(String(dia).length == 1){dia = '0'+ String(dia);}\nif(String(mes).length == 1){mes = '0'+ String(mes);}\n\nlet valor_hora = hora+':'+minuto+':'+segundo;\nlet valor_data = dia + '/'+mes + '/' + ano;\n\nmsg.payload = mensagem_valor + ',' + valor_hora + ',' + valor_data + ';' ;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":40,"wires":[["dde324b9.5240e8"]]},{"id":"dde324b9.5240e8","type":"file","z":"d40e55c.b3036a8","name":"Salvar_LOG","filename":"/home/pi/log/teste.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":40,"wires":[[]]}]